--- 
layout: default 
---

{% assign photoGalleries = site.data.contentful.spaces.lighthouse.photoGallery | sort: 'date' | reverse%}

<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(../assets/img/photos-header-min.jpg); background-position: center;"></div>
    <div class="container">
        <h1>Photos</h1>
    </div>
</div>

<div class="features-wrapper">
    <div class="container">
        <div id="gallery" class="row">
            {% for gallery in photoGalleries %}
            <a href="{{ gallery.tag }}">
                <div class="col-md-4 thumb-tile">                    
                    <div class="team-member">
                        <div class="name">
                            <h4>{{ gallery.title }}</h4>
                            <h5>{{ gallery.date | date: '%B %-d, %Y' }}</h5>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>