---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"></div>
    <div class="container">
        <h1>{{ about.title }}</h1>
    </div>
</div>

<!-- our story -->
<!--<div class="features-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Story</h2>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icofont icofont-calendar"></i></div>
                <h3>Story Point 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipised do eiusmod tempor incididunt ut labore et dolore magna al enim ad minim venia</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icofont icofont-pencil-alt-2"></i></div>
                <h3>Story Point 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipised do eiusmod tempor incididunt ut labore et dolore magna al enim ad minim venia</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icofont icofont-map"></i></div>
                <h3>Story Point 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipised do eiusmod tempor incididunt ut labore et dolore magna al enim ad minim venia</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icofont icofont-cart-alt"></i></div>
                <h3>Story Point 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipised do eiusmod tempor incididunt ut labore et dolore magna al enim ad minim venia</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icofont icofont-group"></i></div>
                <h3>Story Point 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipised do eiusmod tempor incididunt ut labore et dolore magna al enim ad minim venia</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icofont icofont-home"></i></div>
                <h3>Story Point 6</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipised do eiusmod tempor incididunt ut labore et dolore magna al enim ad minim venia</p>
            </div>
        </div>
    </div>
</div>-->

<!-- Skills
<div class="skills-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Why</span> We Exist</h2>
        </div>
        <div class="row content">
            <div class="col-md-6 info-block">
                <p>Lim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. DuLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
            </div>
            <div class="col-md-6 info-block">
                <p>Lim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. DuLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
            </div>
        </div>
    </div>
</div>-->

<!-- Features
<div class="features-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>What</span> We Believe</h2>
        </div>
        <div class="row features">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-satellite"></i>
                        <h3>Belief 1</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-speed-meter "></i>
                        <h3>Belief 2</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-smart-phone"></i>
                        <h3>Belief 3</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-tools-alt-2"></i>
                        <h3>Belief 4</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-layers"></i>
                        <h3>Belief 5</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-ui-settings"></i>
                        <h3>Belief 6</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-paper"></i>
                        <h3>Belief 7</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-contacts"></i>
                        <h3>Belief 8</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <i class="icofont icofont-computer"></i>
                        <h3>Belief 9</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- Staff -->
<div class="team-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Staff</h2>
        </div>
        <div class="row team-members">
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/staff/kj-ahn-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>KJ Ahn</h4>
                            <h5>Lead Pastor - English Ministry</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/staff/sarah-park-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Sarah Park</h4>
                            <h5>Connect & Care Pastor</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/staff/kathy-hong-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Kathy Hong</h4>
                            <h5>Lighthouse Kids Director</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-members">
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/staff/jinshil-kim-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Jin Shil Kim</h4>
                            <h5>Administrative Assistant</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Staff -->
<div class="team-wrapper bg-alt">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Leadership Team</h2>
        </div>
        <div class="row team-members">
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/leadership/phil-kim-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Phil Kim</h4>
                            <h5>Connect & Care</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/lighthouse-360x430.png" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Casey Marlarcher</h4>
                            <h5>Small Group & Discipleship</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/leadership/chris-tewksbury-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Chris Tewksbury</h4>
                            <h5>Worship (Host)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-members">
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/leadership/daniel-clark-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Daniel Clark</h4>
                            <h5>Community Outreach & Global Mission</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/leadership/john-hong-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>John Hong</h4>
                            <h5>Stewardship</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="assets/img/leadership/ruth-park-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Ruth Park</h4>
                            <h5>Worship (Praise Team)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Name</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>Just as the lighthouse shines its light to draw ships at sea into safe harbor, we aspire to be a beacon of hope for all people lost without Christ.  Having been rescued and being guided by Christ ourselves, we seek to draw others to Jesus Christ, the light of the world, the only hope for all people. </p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Mission</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>We exist to develop DISCIPLES of JESUS CHRIST devoted to LOVING GOD, LOVING OTHERS, and SERVING the WORLD.</p>
            </div>
        </div>
    </div>
</div>

<div class="features-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Core Values</h2>
        </div>
        <div class="row features">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Christ Centered</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Hospitable</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Healthy</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Healthy</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Authentic</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Missional</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-wrapper alt-bg">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Beliefs</h2>
        </div>
        <div class="row features">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Scriptures</h3>
                    </div>
                    <p>We believe that the Scriptures is the infallible, authoritative Word of God.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Triune God</h3>
                    </div>
                    <p>We believe that there is one true, infinite, almighty God who eternally exists in three Persons in perfect unity: Father, Son, and Holy Spirit.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>God the Father</h3>
                    </div>
                    <p>We believe that God the Father is the Creator and Sustainer of heaven and earth.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Jesus Christ</h3>
                    </div>
                    <p>We believe that Jesus Christ is the eternal Son of God, both truly God and truly human, having been conceived of the Holy Spirit and born of the Virgin Mary, lived a sinless life, died the substitutionary death on the cross to pay for our sin, was bodily raised from death, ascended into heaven to reign for eternity at the right hand of God.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Holy Spirit</h3>
                    </div>
                    <p>We believe that the Holy Spirit is God who enables believers to live a godly living. The various gifts of the Holy Spirit are given today as in the New Testament time and are to be sought for the purpose of building up the body of Christ.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Humanity</h3>
                    </div>
                    <p>We believe that God created humanity in God’s own image and was good. However, humanity rebelled against God and invited sin into the world and thus deserves God’s wrath.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>Salvation</h3>
                    </div>
                    <p>We believe that people are saved only through faith in the person and the work of Jesus Christ and repentance from sin.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Church</h3>
                    </div>
                    <p>We believe that through Christ, we are adopted into the family of God and adopt new identity as siblings in Christ with God as our Father and Christ as the head of the church. Within the covenant community of the church, God’s grace is extended through the preaching of the Word, the administration of Sacraments (Baptism and Communion), and the faithful practice of mutual discipline.  The church must witness Jesus Christ and the good news of Jesus Christ both in and to the world.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Resurrection</h3>
                    </div>
                    <p>We believe that there will be bodily resurrection of both the saved and the lost.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Consummation</h3>
                    </div>
                    <p>We believe that Christ will return to judge the just and the unjust, establish Christ’s
                        kingdom in the new heavens and the new earth.  In the Consummation, Satan with his
                        host and all the those who did not believe in Jesus Christ are finally removed from the
                        presence of God, enduring eternal punishment while those who put their faith in Jesus
                        Christ, the righteous, in glorious bodies, shall live and reign with Christ forever. Married
                        to Christ as his Bride, the Church will be in the presence of God forever, serving him and
                        giving him unending praise and glory.  Then shall the eager expectation of creation be fulfilled and the whole earth shall proclaim the glory of God who makes all things new.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-two">
                    <div class="top clearfix">
                        <h3>The Gospel</h3>
                    </div>
                    <p>The Gospel is the good news that God will reconcile and renew the broken creation including sinful humanity through the life, death, resurrection, ascension, and the future return of Jesus Christ for God’s glory and for the good of God’s people.</p>
                </div>
            </div>
        </div>
    </div>
</div>