---
layout: default
---

{% assign connect = site.data.contentful.spaces.lighthouse.connect[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{ connect.headerImage.url }}?w=1920)"></div>
    <div class="container">
        <h1>Become A Member At Lighthouse</h1>
    </div>
</div>

<!-- Why Membership Matters -->
<div class="featured-article-wrapper second-style">
    <div class="container">
        <article class="row">
            <div class="col-md-6 info-block">
                <h2>Why Membership Matters</h2>
                <p>“Why do I have to go through the hassle of taking a class and signing a form?” you might ask.  Well, here at the Lighthouse, we take our Covenant Partnership both seriously and joyfully. Committing to becoming a Covenant Partner is like joining a spiritual family.  As a family member, you can count on us to be there with and for you, but we also count on you to be there for others through your service to fellow brothers and sisters.  Our pastor staff and leadership team are here to walk with Covenant Partners through different seasons of spiritual journey and life by providing counsel, care, prayer, and teaching.</p>
            </div>
            <div class="col-md-6 info-block">
                <img src="https://placehold.it/520x400" alt="" class="img-responsive">
            </div>
        </article>
    </div>
</div>

<!-- Membership Class -->
<div class="featured-article-wrapper third-style">
    <div class="bg-img" style="background-image: url(assets/img/connect-become-member.jpg);"></div>
    <div class="container">
        <article class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 info-block">
                <h2>Membership Class</h2>
                <p>We encourage every prospective member to take membership class to help us get to know you and for you to get to know us.  The class will help you explore what it means to become a Covenant Partner of Lighthouse and learn about our mission, our beliefs, our team structure, serving opportunities, and our expectation for a Covenant Partner.  You will also get to hear about others’ faith journey.</p>
            </div>
        </article>
    </div>
</div>

<div class="featured-article-wrapper second-style">
    <div class="container">
        <article class="row">
            <div class="col-md-6 info-block">
                <h2>Required Reading: Church Membership</h2>
                <p>Every prospective members are required to read <a href="https://www.amazon.com/gp/product/1433532379/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1433532379&linkCode=as2&tag=tvc-web-20">Church Membership by Jonathan Leeman</a> prior to signing Membership Covenant. </p>
                <a href="https://www.amazon.com/gp/product/1433532379/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1433532379&linkCode=as2&tag=tvc-web-20" class="btn btn-solid"><span>Get It At Amazon</span></a>
            </div>
            <div class="col-md-6">
                <img src="https://placehold.it/520x400" alt="" class="img-responsive">
            </div>
        </article>
    </div>
</div>

<!-- Volunteer -->
<div class="featured-article-wrapper third-style"
    <div class="bg-img" style="background-image: url(assets/img/connect-become-member.jpg);"></div>
    <div class="container">
        <article class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 info-block">
                <h2>Baptism & Confirmation</h2>
                <p>We administer baptism and confirmation as well as infant baptism following the Reformed tradition.  To be baptized or confirmed as an adult, one must profess his or her faith in Jesus Christ and be able to give sufficient testimony to the basics of Christian beliefs by completing Baptism and Confirmation Prep Class.</p>
                <br>
                <p>If you are a believer but have not yet been baptized or confirmed, you must be baptized or confirmed before you can become a Covenant Partner.</p>
            </div>
        </article>
    </div>
</div>
