---
layout: default
selected_index: 2
---

{% assign connect = site.data.contentful.spaces.lighthouse.connect[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{ connect.headerImage.url }}?w=1920)"></div>
    <div class="container">
        <h1>{{connect.title}}</h1>
    </div>
</div>

<!-- Groups -->
<div class="featured-article-wrapper second-style">
    <div class="container">
        <article class="row">
            <div class="col-md-6 info-block">
                <h3>Groups</h3>
                <h2>Following Jesus Christ in and as a community</h2>
                <p>We believe that two commitments are vital to the spiritual growth of Christ followers: (1) A commitment to God and the Bible. (2) A commitment to significant relationships with others. Community Groups will help develop these significant relationships in the context of an authentic, Christ-centered community.</p>
                <br>
                <p>It is our goal to have every member of our church engage in either a Community Group or another similar small group experience.  Typically, most groups are sermon-based with the exception of church-wide curriculum on occasions. Some groups may also choose to focus on special interest or topic for a term.</p>

                <!--<a href="mailto:info@lighthousedfw.org" class="btn btn-solid"><span>Join Now</span></a>-->
            </div>
            <div class="col-md-6">
                <!--<img src="https://placehold.it/520x400" alt="" class="img-responsive">-->
            </div>
        </article>
    </div>
</div>

<!-- Become A Member -->
<div class="featured-article-wrapper third-style">
    <div class="bg-img" style="background-image: url(assets/img/connect-become-member.jpg);"></div>
    <div class="container">
        <article class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 info-block">
                <h3>Become A Member</h3>
                <h2>Committing To Serving and Building Up One Another</h2>
                <a href="become-member" class="btn btn-solid"><span>Get Started</span></a>
            </div>
        </article>
    </div>
</div>

<!-- Children & Youth -->
<div class="featured-article-wrapper second-style">
    <div class="container">
        <article class="row">
            <div class="col-md-6 info-block">
                <h3>Children & Youth</h3>
                <h2>Youth Group</h2>
                <p>Our youth group is made up of Middle School (6th-8th grade) and High School (9th-12th grade) students. Our motto is W2G (With We Grow). This is broken down into three parts: With God We Grow, With Parents We Grow, and With Church We Grow. We accomplish this through our weekly Bible Study on Sunday morning at 10am-11:15am (Gospel Project, Journey through the storyline of Scripture), Sunday Worship at 11:30am-12:30pm and Community Group Night called “Merge” on Friday nights from 7:30pm-9pm. A summary of the sermon and bible study is provided to parents so parents can reinforce what their children are learning at home.</p>
                <br>
                <p>Meetings:<br>
                Sunday Bible Study 10am<br>
                Sunday Worship 11:30am<br>
                Merge Friday 7:30pm (This change will happen on 9/23)<br>
                Contact: <a href="mailto: seongsuhong@gmail.com">Pastor Seong Su Hong (seongsuhong@gmail.com)</a>
                </p>
            </div>
            <div class="col-md-6">
                <!--<img src="https://placehold.it/520x400" alt="" class="img-responsive">-->
            </div>
        </article>
    </div>
</div>

<!-- Volunteer -->
<div class="featured-article-wrapper third-style">
    <div class="bg-img" style="background-image: url(assets/img/connect-volunteer.jpg);"></div>
    <div class="container">
        <article class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 info-block">
                <h3>Volunteer</h3>
                <h2>Serving Our Church, Our City, and the World</h2>
                <a href="volunteer" class="btn btn-solid"><span>Volunteer Here</span></a>
            </div>
        </article>
    </div>
</div>
