---
layout: default
custom_js:
  - jquery.validate.min.js
  - reg.js
---

<!-- Page Heading -->
<div class="page-head bg-one">
  <div
    class="bg-img"
    style="background-image: url(../assets/img/sermons-header.jpg)"
  ></div>
  <div class="container">
    <h1>Cover To Cover</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form
        id="reg-form"
        class="reg-form"
        name="cover-to-cover"
        action="/registration-complete"
        netlify
        netlify-honeypot="bot-field"
      >
        <h3 style="line-height: 26px">
          Imagine being able to walk away with the big picture of the entire
          Bible in just six weeks. Cover to Cover is a six-week online course
          designed to guide you through the entire Bible so that you will have
          an understanding of the structure, timeline, and themes of Scripture.
          You must register by 7/21.
        </h3>
        <h3>Cover To Cover will start 7/28 and ends 9/1.</h3>
        <br /><br />
        <h3>Register Now</h3>
        <div class="row">
          <div class="col-md-12">
            <label>Full Name *</label>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="full-name"
                required
              />
            </div>
          </div>
          <div class="col-md-12">
            <label>Email Address *</label>
            <div class="form-group">
              <input type="text" class="form-control" name="email" required />
            </div>
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <div class="form-group">
              <button type="submit" class="btn btn-outline">Submit</button>
            </div>
          </div>
        </div>

        <p class="hidden">
          <label>Bot field: <input name="bot-field"/></label>
        </p>
      </form>
    </div>
  </div>
</div>
