---
layout: default
---

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{ giving.headerImage.url }}?w=1920)"></div>
<div class="container">
    <h1>Deacons</h1>
</div>
</div>

<div class="featured-article-wrapper">
    <div class="container">
        <article class="row">
            <div class="col-md-5">
                <img src="/assets/img/deacons/philkim.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-7 info-block meet-pastor">
                <h2>Phil Kim</h2>
                <p>I’ve been very blessed to have been part of this church for over 40 years. I met the Lord as a young boy, through the faithfulness and prayers of my parents, and my past bible study teachers and pastors. I consider it a tremendous honor to serve the very church that served me so humbly throughout my life, and to still walk in faith with so many families that I grew up with.</p>
                <p>I am currently a part of the Lighthouse English Ministry with my lovely wife, Eun Hyung Kim, and my two wonderful children, Jocelyn (11) and Charlton (8). I serve on the Lighthouse Leadership, the Care & Connect team, and the church renovation committee. My hope and prayers are to continue God’s great work through this church, and to help provide the same loving, supportive environment that I experienced here throughout my life.</p>
            </div>
        </article>
    </div>
</div>

<div class="featured-article-wrapper bg-alt">
    <div class="container">
        <article class="row">
            <div class="col-md-5">
                <img src="/assets/img/deacons/timpark.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-7 info-block meet-pastor">
                <h2>Tim Park</h2>
                <p>Growing up in NJ/NY, college is where Tim wrestled and came to make his faith his own, and not one adopted from his parents. After having spent 5 years in sunny San Diego, his work brought him to Dallas and Lighthouse in 2014.</p>
                <p>Tim is married to Gloria, whom he met at Lighthouse. He is currently serving on the Praise Team, Care & Connect Team, and Community groups.</p>
                <p>He enjoys spending time and eating with his better half, while also playing/watching sports.</p>
                <p>Though it was his work that brought him to Dallas, it was the Lighthouse community and his wife, Gloria that kept him here.  He hopes to be a part of a local church and community where God is using the imperfect to love and serve others through His perfect plans.</p>
            </div>
        </article>
    </div>
</div>
