---
layout: default
---

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url('/assets/img/mission-bg-min.jpg'); background-position: center;"></div>
    <div class="container">
        <h1>Dominican Republic Short-Term Mission Trip</h1>
    </div>
</div>

<div class="container">
    <div class="features-wrapper">
        <div class="features beliefs" style="padding-top: 0;">
            <div class="feature-two">
                <div class="top clearfix">
                    <h3>Purpose</h3>
                </div>
                <ul class="show">
                    <li>To WITNESS God’s Kingdom work beyond our community</li>
                    <li>SUPPORT God’s Kingdom work in DR through partnership with leaders of churches and community in DR</li>
                    <li>To CULTIVATE a MISSIONAL Heart and Lifestyle</li>
                </ul>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>Dates</h3>
                </div>
                <p>July 5 - July 11 (7 days)</p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>LOCATION</h3>
                </div>
                <p>Dominican Republic</p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>ORGANIZATION</h3>
                </div>
                <p>Foundation for Peace (FFP)</p>
                <p><a href="http://www.foundationforpeace.org/">http://www.foundationforpeace.org/</a></p>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>PROGRAM</h3>
                </div>
                <ul class="show">
                    <li>Construction of a Church in stages</li>
                    <li>VBS (Vacation Bible School)</li>
                </ul>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>PREPARATION</h3>
                </div>
                <p>Training on Sundays @1:30-3pm starting on April 23</p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>PARTICIPANTS</h3>
                </div>
                <p>Lighthosue &amp; Binnerri Youth Group</p>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>COST</h3>
                </div>
                <p>$1700</p>
                <p>$1060 for Construction Material, Lodging, Food, FFP Staff, in-country Transportation, Security, and etc.</p>
                <p>$600 for Airfare</p>
            </div>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>FINANCING</h3>
            </div>
            <p>Church (1/3): You (1/3): Support Letter (1/3)</p>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>CONTACTS</h3>
            </div>
            <p><a href="mailto:KJ.Ahn@lighthousedfw.org">Pastor KJ for Lighthouse</a></p>
            <p>Pastor Hong for BYG</p>
        </div>

    </div>
</div>