---
layout: default
selected_index: 4
custom_js:
    - moment.min.js
    - handlebars.js
    - cal.js
---

{% assign events = site.data.contentful.spaces.lighthouse.events[0] %}
{% assign announcements = events.announcements %}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url({{ events.header_image.url }}?w=1920)"></div>
    <div class="container">
        <h1>{{ events.title }}</h1>
    </div>
</div>

<!-- our story -->
<div class="calendar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="announcements">
                    <h2><span>Announcements</span></h2>
                    <ul>
                    {% for announcement in announcements %}
                        <li>
                            <h4>{{announcement.title}}</h4>
                            <p>{{announcement.description|markdownify}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    <!--{% for highlight in highlights %}-->
                    <!--<div class="events-highlight">-->
                        <!--<a href="{{highlight.link}}">-->
                            <!--<img src="{{highlight.image.url}}?w=400" class="img-responsive">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                    <!--<h4>Have a question about an event?</h4>-->
                    <!--<form name="event-question" action="thank-you" netlify>-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Name" name="name">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" class="form-control" placeholder="Email" name="email">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<textarea class="form-control" placeholder="Message" rows="5" name="message"></textarea>-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-outline">Submit</button>-->
                    <!--</form>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="calendar">
                    <div class="calendar-header">
                        <div class="row">
                            <div class="col-xs-2 previous-month">
                                <a><i class="icofont icofont-caret-left"></i></a>
                            </div>
                            <div class="col-xs-8 month">
                                <h1 id="month">August</h1>
                            </div>
                            <div class="col-xs-2 next-month">
                                <a><i class="icofont icofont-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="days">
                        <div id="cal-events"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% raw %}
<script id="calendar-template" type="text/x-handlebars-template">
    {{#if hasItems}}
    {{#each items}}
    <div class="day">
        <div class="row">
            <div class="date">{{ dow }}
                <div class="num">{{ day }}</div>
            </div>
            <ul class="events">
                {{#each items}}
                <li>
                    <div class="time">{{ time }}</div>
                    <div class="summary">{{ summary }}</div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
    {{/if}}
    {{#if hasNoItems}}
    <div class="day none">
        There are no events
    </div>
    {{/if}}
    {{#if loading}}
    <div class="day none">
        Loading events...
    </div>
    {{/if}}
</script>
<script id="month-template" type="text/x-handlebars-template">
    {{ month }}
</script>
{% endraw %}