---
layout: default
selected_index: 5
---

{% assign giving = site.data.contentful.spaces.lighthouse.giving[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{ giving.headerImage.url }}?w=1920)"></div>
<div class="container">
    <h1>{{ giving.title }}</h1>
</div>
</div>

<!-- our story -->
<div class="features-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Ways</span> To Give</h2>
        </div>
        <div class="feature blurb">
            <p>Giving is a part of our Christ-centered worship through which we express our love for God and our trust in God to be our provider.  What God most cares about is not the amount of tithe or offering but the state of our hearts as we give back a portion of God-given resources.  As Paul reminds us in 2 Corinthians 9:7, “Each one must give as he has decided in his heart, not reluctantly or under compulsion, for God loves a cheerful giver.”  There are 2 ways you can give at Lighthouse:</p>
        </div>
        <div class="row features">
            <div class="col-md-6 col-sm-6 col-xs-12 feature">
                <a href="http://www.easytithe.com/dl/?uid=The1301889" target="_blank">
                    <div class="icon"><i class="icon-Online"></i></div>
                    <h3>Online</h3>
                    <p>You can set up your online account and give online or through our Lighthouse app.  Please click here to set up your account.</p>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="icon-Church"></i></div>
                <h3>Sunday Service</h3>
                <p>You have an opportunity to give your tithes and offerings during our weekly Worship service on Sunday.</p>
            </div>
        </div>
    </div>
</div>