---
layout: default
---

{% assign sermon = site.data.contentful.spaces.lighthouse.specialEvent[0] %}

<div class="features-wrapper">
  <div class="audio-player" style="margin: 0 auto;">
    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/l7xT5HhWjx8"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <br />
    <br />
    <h3>
      <a
        href="//assets.ctfassets.net/5ur1xyixb1uc/6zlf53YHeHouWJV6r9GDcT/a3af1463aaf6e92b9866a42821e06f75/GOOD_FRI_2020_Reflection_Guide.pdf"
        >Download the Good Friday Reflection Guide</a
      >
    </h3>
  </div>
</div>
