---
layout: default
---
<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(/assets/img/hurricane-harvey-relief/hhr-min.jpg); background-position: center;"></div>
    <div class="container">
        <h1>Hurrican Harvey Relief</h1>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="col-md-12 info-block text-center">
            <p style="font-size: 18px;" class="text-left">
                Lighthouse family!
                <br><br>
                Our neighbors in the city of Houston and its surrounding areas have been hit hard by Harvey, a Category 4 storm last weekend. According to the Texas Department of Public Safety report earlier this week, the storm and the floodwaters have already damaged over 37,000 homes, and destroyed nearly 7,000. It will take months and even years in some areas before life is back to normal.  As a disciple of Jesus, we have an opportunity to show the love of Jesus in tangible ways through our praying, giving, and serving. Samaritan’s Purse is a non-profit Christian organization which specializes in disaster relief.
                <br><br>
                <a href="https://www.samaritanspurse.org/disaster/hurricane-harvey/" target="_blank">Please click here to make your donation for Harvey Relief through Samaritan’s Purse.</a>
                <br><br>
                I'm so proud and grateful for your demonstration of Christ-like self-giving love toward those who are hurting.
                <br><br>
                With Gratitude & Joy,<br>
                KJ Ahn
            </p>
        </div>
    </div>
</div>