---
layout: default
custom_js:
  - jquery.easyPaginate.js
  - sermons.js
---

{% assign data = site.data.contentful.spaces.lighthouse.specialEvent[0] %}

<div id="hero-slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="main-hero">
        <div
          class="hero"
          style="background-image: url({{ data.background_image.url }}?w=1920)"
        ></div>
        <div class="info-wrapper v-center">
          <div class="info">
            <span>
              To Glorify God by Helping All People<br />
              Become Fully Devoted Followers of Jesus Christ.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div class="features-wrapper bg-alt">
  <div id="sermons">
    <div class="featured-article-wrapper sermon bg-alt" style="padding: 0;">
      <div class="container">
        <article class="row">
          <div class="col-md-4">
            <div class="sermon-img-wrapper">
              <div
                class="sermon-img"
                style="background-image: url({{data.sermon_image.url}}?w=400)"
              ></div>
            </div>
            <a href="/sunday"><div class="play-btn"></div></a>
          </div>
          <div class="col-md-8 info-block main-page">
            <h3>{{data.sermon_date | date: '%B %d, %Y'}}</h3>
            <h2>{{data.sermon_title}}</h2>
            <p>{{data.sermon_description | markdownify}}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
