---
layout: default
custom_js:
- lightbox.min.js
---

{% assign home = site.data.contentful.spaces.lighthouse.home[0] %}
{% assign ministries = site.data.contentful.spaces.lighthouse.ministry[0] %}

<style>
    .banner-link {
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        text-decoration: underline;
    }

    .banner-link:hover {
        color: #0073ce;
        text-decoration: underline;
    }
</style>

<!-- <div class="hero-footer alert-header" style="background: #ee6002;">
    <div class="service-time">
        <span style="color: white; font-size: 20px;"><strong>ATTENTION:</strong> Due to Tornado damage to our facility, we are meeting for Sunday worship at the Heights Church at 2pm.<br><a style="color: white; text-decoration: underline;" target="_blank" href="https://goo.gl/maps/BjvG8QmmUz85pBo6A">Directions to the Heights</a><br><a style="color: white; text-decoration: underline;" target="_blank" href="assets/docs/The_Heights_Map.pdf">Meet us at District</a></span>
    </div>
</div> -->


<div id="hero-slider" class="carousel slide" data-ride="carousel">
    <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#hero-slider" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#hero-slider" data-slide-to="1"></li>-->
    <!--</ol>-->
    <div class="carousel-inner">
        <!--<div class="item active">-->
        <!--<div class="main-hero">-->
        <!--<div class="hero" style="background-image: url(/assets/img/home/life-explored-4.jpg)">-->
        <!--</div>-->
        <!--<div class="info-wrapper v-center">-->
        <!--<div class="info">-->
        <!--<span>-->
        <!--NEW Sunday Bible Study starting on Nov. 5<br><br>-->
        <!--<a href="/connect/sunday-bible-study">Learn More ></a>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="item active">
            <div class="main-hero">
                <div class="hero" style="background-image: url({{ home.hero_image.url }}?w=1920)">
                </div>
                <div class="info-wrapper v-center">
                    <div class="info">
                        <span>
                            To Glorify God by Helping All People<br> Become Fully Devoted Followers of Jesus Christ.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero-footer">
    <div class="service-time">
        <span>Service Time:</span>&nbsp;&nbsp;Sundays at 11:30 AM
    </div>
    <a href="{{ home.action_button_link}}" class="btn btn-outline" target="_blank">{{ home.action_button_text }}</a>
</div>

<!-- <div class="features-wrapper bg-alt">
    <div class="container">
        <div class="section-title">
            <h2><span>5 Areas</span> of Growth in 2018</h2>
        </div>
        <div class="features">
            <a href="/assets/img/home/5-areas-of-groth-2018.png" data-lightbox="group">
                <img src="/assets/img/home/5-areas-of-groth-2018.png" class="img-responsive"/>
            </a>
        </div>
    </div>

</div> -->

<!-- Features -->
<div class="features-wrapper">
    <div class="container">
        <div class="section-title">
            <h2>{{ home.welcome_title }}</h2>
        </div>
        <div class="row features">
            {% for welcomeTile in home.welcome_tiles %}
            <div class="col-md-4 col-sm-6 col-xs-12 feature">
                <div class="icon"><i class="{{ welcomeTile.icon }}"></i></div>
                <h3>{{ welcomeTile.title }}</h3>
                <p>{{ welcomeTile.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Featured Article -->
<div class="featured-article-wrapper bg-alt">
    <div class="container">
        <article class="row">
            <div class="col-md-6">
                <img src="{{ home.pastor_image.url }}" alt="" class="img-responsive">
            </div>
            <div class="col-md-6 info-block meet-pastor">
                {{ home.pastor_text | markdownify }}
            </div>
        </article>
    </div>
</div>