---
layout: default
---

<div class="features-wrapper special">
  <div class="audio-player" style="margin: 0 auto;">
    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/ojHD0_631kY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <h2 style="margin-top: 40px; margin-bottom: 0;">
      "Greater love has no man than this, that a man lay down his life for his
      friends"
    </h2>
    <h3 style="margin-bottom: 40px;">John 15:13</h3>
    <p>
      It has been many days, and many weeks since most of us have last seen our
      friends both at church, home, and at work. I've personally been feeling
      more lonely this week than ever, and I know that my kids are feeling the
      same way. When we are out for a walk in the neighborhood, it is hard not
      to stop and chat with other neighbors or let the kids play together. It's
      hard to answer questions as to why we can't go to so-and-so's house for a
      playdate. These times are just hard. Loneliness is a feeling that stirs up
      other emotions such as sadness, and that can really hurt little hearts.
    </p>
    <p>
      In these times, it is especially remember to remember that we have a
      FRIEND in Jesus. Not just a friend, but a BEST friend. I'd love for the
      kids to be reminded of this truth this week by the top influencers in
      their lives-- their parents.
    </p>
    <p>
      A best friend is someone you love more than all of your other friends, and
      who loves you back.<br />
      He helps me make good decisions and protects me from danger.<br />
      He cries with me when I am sad, and rejoices with me when I am happy.<br />
      Jesus is my BEST friend because he only wants what is best for me.<br />
    </p>

    <h3 style="margin-top: 40px;">Songs</h3>
    <p>
      Jesus is my best friend
      <iframe
        width="100%"
        height="450"
        src="https://www.youtube.com/embed/tER4Jx6LyZk"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </p>

    <p>
      Waymaker
      <iframe
        width="100%"
        height="450"
        src="https://www.youtube.com/embed/0wyotu9Twko"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </p>

    <p>
      The Lord's Prayer
      <iframe
        width="100%"
        height="450"
        src="https://www.youtube.com/embed/UwvBtcwPQS8"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </p>

    <p>Hang in there friends! We are praying for you!</p>

    <p>Young Hui</p>
  </div>
</div>
