<table style="color:rgb(117,117,117);font-family:&quot;helvetica neue&quot;,helvetica,arial,sans-serif;border:none;border-collapse:collapse">
    <tbody>
    <tr style="height:0px">
        <td style="border:1px solid rgb(255,255,255);vertical-align:top;padding:7px">
            <a href="http://lighthousedfw.org/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://lighthousedfw.org/&amp;source=gmail&amp;ust=1472569261086000&amp;usg=AFQjCNE1EcInKCy2s2JsFrNj4Ua33wXc2w"><img width="75" height="75" alt="http://lighthousedfw.org/" style="border:none;margin-right:0px" src="https://ci3.googleusercontent.com/proxy/b4lyLN8BI-ywwQjujFW5EuahFjjveEht4JHhP4Aa3HnF3uSIFkKtZZ8S0LPvx7wSBklyp-j2gjLF0aatGu5I5Zq40VY0_XPU_CdKazBkN6x38g=s0-d-e1-ft#http://lighthousedfw.org/assets/img/lh_sig.png"></a>
        </td>
        <td style="border:1px solid rgb(255,255,255);vertical-align:top;padding:7px">
            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span style="font-size:13.3333px;font-family:roboto;color:rgb(61,133,198);font-weight:700;vertical-align:baseline;white-space:pre-wrap">Pastor KJ Ahn</span></p>
            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span style="font-size:13.3333px;font-family:roboto;color:rgb(102,102,102);font-weight:700;vertical-align:baseline;white-space:pre-wrap">Lead Pastor of Lighthouse</span></p>
            <p dir="ltr" style="line-height:1.27636;margin-top:0pt;margin-bottom:0pt"><span style="font-size:13.3333px;font-family:roboto;color:rgb(102,102,102);vertical-align:baseline;white-space:pre-wrap">1301 Abrams Rd, Richardson, TX 75081</span></p>
            <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">
                <a href="http://lighthousedfw.org/" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://lighthousedfw.org/&amp;source=gmail&amp;ust=1472569261086000&amp;usg=AFQjCNGzTMXCZZMk-UWS8p6EaO_gmStrtA"><span style="font-size:13.3333px;font-family:roboto;text-decoration:underline;vertical-align:baseline;white-space:pre-wrap">lighthousedfw.org</span></a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
<span style="font-size:13.3333px;font-family:sans-serif;color:rgb(0,0,0);font-weight:700;font-style:italic;vertical-align:baseline;white-space:pre-wrap">Developing DISCIPLES of Jesus Christ devoted to LOVING God, LOVING Others, and SERVING The World!</span>