---
layout: default
custom_js:
    - jquery.validate.min.js
    - reg.js
---

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(assets/img/sermons-header.jpg)"></div>
    <div class="container">
        <h1>Membership Class Registration</h1>
    </div>
</div>

<div class="container">
    <form id="reg-form" class="reg-form" name="membership-class-registration" action="registration-complete" netlify netlify-honeypot="bot-field">
        <h3>Your Information</h3>
        <div class="row">
            <div class="col-md-4">
                <label>Full Name *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="full-name" required>
                </div>
            </div>
            <div class="col-md-4">
                <label>Email Address *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" required>
                </div>
            </div>
            <div class="col-md-4">
                <label>Phone Number *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Have you been baptized as an adult or confirmed?</label>
                <div class="form-group">
                    <select id="status-select" class="form-control" name="status">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div>Please note that you have to have been baptized as an adult or confirmed before taking this class.</div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline">Submit</button>
                </div>
            </div>
        </div>

        <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>

    </form>
</div>