---
layout: default
custom_js:
  - jquery.easyPaginate.js
  - sermons.js
---

{% assign data = site.data.contentful.spaces.lighthouse.specialEvent[0] %}

<div class="main-hero">
  <div
    class="hero full-opacity"
    style="background-image: url({{ data.background_image.url }}?w=1920)"
  ></div>
</div>

<div class="special-letter">
  <div class="container">
    <div class="content">
      {{ data.message | markdownify }}
    </div>
  </div>
</div>
