---
layout: default
custom_js:
    - jquery.validate.min.js
    - reg.js
---

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(assets/img/retreat-header.jpg)"></div>
    <div class="container">
        <h1>Fall Retreat Registration Form</h1>
        <h2>October 5-7, 2018</h2>
    </div>
</div>

<div class="container">
    <form id="reg-form" class="reg-form" name="retreat-registration-2018" action="retreat-registration-complete" netlify netlify-honeypot="bot-field">
        <div class="text-center">
            <p>$140 for Adults (15 yrs and up)</p>
            <p>$50 for Kids (3-14 yrs)</p>
            <p>Free for Toddlers &amp; Infants (&lt; 1-2 yrs)</p>
            <p>Payment options:  Cash, Check, <a target="_blank" href="https://venmo.com/LighthouseDFW">Venmo @LighthouseDFW</a></p>
        </div>
        <hr>
        <h3>Your Information</h3>
        <div class="row">
            <div class="col-md-4">
                <label>First Name *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="first-name" required>
                </div>
            </div>
            <div class="col-md-4">
                <label>Last Name *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="last-name" required>
                </div>
            </div>
            <div class="col-md-4">
                <label>T-Shirt Size *</label>
                <div class="form-group">
                    <select class="form-control" name="shirt-size" required>
                        <option value="">Select a Size</option>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Gender *</label>
                <div class="form-group">
                    <select class="form-control" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label>Status *</label>
                <div class="form-group">
                    <select id="status-select" class="form-control" name="status">
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email *</label>
                    <input type="email" class="form-control" name="email" required email="true">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="phone" class="form-control" name="phone" phoneUS="true">
                </div>
            </div>
        </div>

        <!-- Spouse Section -->
        <div id="spouse-section">
            <hr>
            <h3>Spouse</h3>
            <div class="row">
                <div class="col-md-4">
                    <label>First Name *</label>
                    <div class="form-group">
                        <input id="spouse-first-name" type="text" class="form-control" name="spouse-first-name" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Last Name *</label>
                    <div class="form-group">
                        <input id="spouse-last-name" type="text" class="form-control" name="spouse-last-name" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>T-Shirt Size *</label>
                    <div class="form-group">
                        <select id="spouse-shirt-size" class="form-control" name="spouse-shirt-size" required>
                            <option value="">Select a Size</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Spouse Section -->

        <!-- Children Section -->
        <hr>
        <h3>Children</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of Children</label>
                    <select id="num-children-select" class="form-control" name="num-children">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>


        <div id="child-1" class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child First Name *</label>
                    <input id="child-1-first-name" type="text" class="form-control" name="child-1-first-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Last Name *</label>
                    <input id="child-1-last-name" type="text" class="form-control" name="child-1-last-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Age *</label>
                    <input id="child-1-age" type="text" class="form-control" name="child-1-age" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>T-Shirt Size *</label>
                    <select id="child-1-shirt-size" class="form-control" name="child-1-shirt-size" required>
                        <option value="">Select a Size</option>
                        <option value="Youth XS">Youth XS</option>
                        <option value="Youth S">Youth S</option>
                        <option value="Youth M">Youth M</option>
                        <option value="Youth L">Youth L</option>
                        <option value="Youth XL">Youth XL</option>
                        <option value="Adult XS">Adult XS</option>
                        <option value="Adult S">Adult S</option>
                        <option value="Adult M">Adult M</option>
                        <option value="Adult L">Adult L</option>
                        <option value="Adult XL">Adult XL</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="child-2" class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child First Name *</label>
                    <input id="child-2-first-name" type="text" class="form-control" name="child-2-first-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Last Name *</label>
                    <input id="child-2-last-name" type="text" class="form-control" name="child-2-last-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Age *</label>
                    <input id="child-2-age" type="text" class="form-control" name="child-2-age" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>T-Shirt Size *</label>
                    <select id="child-2-shirt-size" class="form-control" name="child-2-shirt-size" required>
                        <option value="">Select a Size</option>
                        <option value="Youth XS">Youth XS</option>
                        <option value="Youth S">Youth S</option>
                        <option value="Youth M">Youth M</option>
                        <option value="Youth L">Youth L</option>
                        <option value="Youth XL">Youth XL</option>
                        <option value="Adult XS">Adult XS</option>
                        <option value="Adult S">Adult S</option>
                        <option value="Adult M">Adult M</option>
                        <option value="Adult L">Adult L</option>
                        <option value="Adult XL">Adult XL</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="child-3" class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child First Name *</label>
                    <input id="child-3-first-name" type="text" class="form-control" name="child-3-first-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Last Name *</label>
                    <input id="child-3-last-name" type="text" class="form-control" name="child-3-last-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Age *</label>
                    <input id="child-3-age" type="text" class="form-control" name="child-3-age" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>T-Shirt Size *</label>
                    <select id="child-3-shirt-size" class="form-control" name="child-3-shirt-size" required>
                        <option value="">Select a Size</option>
                        <option value="Youth XS">Youth XS</option>
                        <option value="Youth S">Youth S</option>
                        <option value="Youth M">Youth M</option>
                        <option value="Youth L">Youth L</option>
                        <option value="Youth XL">Youth XL</option>
                        <option value="Adult XS">Adult XS</option>
                        <option value="Adult S">Adult S</option>
                        <option value="Adult M">Adult M</option>
                        <option value="Adult L">Adult L</option>
                        <option value="Adult XL">Adult XL</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="child-4" class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child First Name *</label>
                    <input id="child-4-first-name" type="text" class="form-control" name="child-4-first-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Last Name *</label>
                    <input id="child-4-last-name" type="text" class="form-control" name="child-4-last-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Age *</label>
                    <input id="child-4-age" type="text" class="form-control" name="child-4-age" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>T-Shirt Size *</label>
                    <select id="child-4-shirt-size" class="form-control" name="child-4-shirt-size" required>
                        <option value="">Select a Size</option>
                        <option value="Youth XS">Youth XS</option>
                        <option value="Youth S">Youth S</option>
                        <option value="Youth M">Youth M</option>
                        <option value="Youth L">Youth L</option>
                        <option value="Youth XL">Youth XL</option>
                        <option value="Adult XS">Adult XS</option>
                        <option value="Adult S">Adult S</option>
                        <option value="Adult M">Adult M</option>
                        <option value="Adult L">Adult L</option>
                        <option value="Adult XL">Adult XL</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="child-5" class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child First Name *</label>
                    <input id="child-5-first-name" type="text" class="form-control" name="child-5-first-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Last Name *</label>
                    <input id="child-5-last-name" type="text" class="form-control" name="child-5-last-name" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Child Age *</label>
                    <input id="child-5-age" type="text" class="form-control" name="child-5-age" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>T-Shirt Size *</label>
                    <select id="child-5-shirt-size" class="form-control" name="child-5-shirt-size" required>
                        <option value="">Select a Size</option>
                        <option value="Youth XS">Youth XS</option>
                        <option value="Youth S">Youth S</option>
                        <option value="Youth M">Youth M</option>
                        <option value="Youth L">Youth L</option>
                        <option value="Youth XL">Youth XL</option>
                        <option value="Adult XS">Adult XS</option>
                        <option value="Adult S">Adult S</option>
                        <option value="Adult M">Adult M</option>
                        <option value="Adult L">Adult L</option>
                        <option value="Adult XL">Adult XL</option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h3>Notes</h3>
                    <label >Please note any food allergies and if you plan on coming late or leaving early.</label>
                    <textarea rows="5" class="form-control" name="notes"></textarea>
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline">Submit</button>
                </div>
            </div>
        </div>

        <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>

    </form>
</div>