---
layout: default
custom_js:
  - sermon.js
---

{% assign sermon = site.data.contentful.spaces.lighthouse.specialEvent[0] %}

<div class="features-wrapper">
  <div class="audio-player" style="margin: 0 auto;">
    <img
      id="audioPlayerImage"
      class="img-responsive"
      src="{{sermon.sermon_image.url}}"
    />
    <audio
      id="player"
      controls="controls"
      src="{{sermon.sermon_file.url}}"
    ></audio>

    <br />
    <br />
    <p>{{sermon.sermon_description | markdownify}}</p>
  </div>
</div>
