---
layout: default
---

{% assign sermon = site.data.contentful.spaces.lighthouse.specialEvent[0] %}

<div class="features-wrapper">
  <div class="audio-player" style="margin: 0 auto;">
    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/videoseries?list=PLDQ1syU5ckit13iGiE5v-gHUTv-IJzew2"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <br />
    <br />
    <p>{{sermon.sermon_description | markdownify}}</p>
  </div>
</div>
