---
layout: default
---

{% assign connect = site.data.contentful.spaces.lighthouse.connect[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{ connect.headerImage.url }}?w=1920)"></div>
    <div class="container">
        <h1>Volunteer At Lighthouse</h1>
    </div>
</div>

<!-- Groups -->
<div class="featured-article-wrapper second-style">
    <div class="container">
        <article class="row">
            <div class="col-md-12 info-block">
                <h3>Lighthouse Kids Ministry</h3>
                <h2>Sunday Small Group Leader</h2>
                <p>
                    <strong>Qualifications:</strong>
                    <ol>
                        <li>To live a life of repentance in Christ and bearing fruit of repentance</li>
                        <li>To be a covenant member of Lighthouse or commit to becoming a covenant member within the first 4 months of starting to serve</li>
                        <li>To faithfully attend Lighthouse Sunday worship</li>
                        <li>To have a heart for the local church and willingness to sacrifice for her growth</li>
                        <li>To satisfactorily complete the screening process</li>
                        <li>To be called to serve preschoolers and kindergarten students</li>
                        <li>Ability and willingness to submit to Lighthouse Pastors, lay leadership and the Lighthouse Kids Ministry director.</li>
                    </ol>
                </p>
                <p>
                    <strong>Responsibilities:</strong>
                    <ol>
                        <li>To attend teacher training classes when offered</li>
                        <li>To arrive 15 – 20 minutes prior to assigned Sunday School hour and be prepared mentally, physically and spiritually</li>
                        <li>Set up classroom environment</li>
                        <li>Prepare and plan and teach in accordance to the curriculum</li>
                        <li>To ensure the safety of the children, Check-in students using KidCheck sign-in/sign-out system</li>
                        <li>To provide support for physical, emotional and spiritual needs of each child while serving on Sunday</li>
                        <li>Follow the program schedule</li>
                        <li>Clean up classroom after program is over</li>
                    </ol>
                </p>
                <p><strong>NOTE:</strong> All our volunteers will serve on a rotation though the term of a rotation (e.g., monthly, bi-weekly, and etc.) has not yet been determined.  No volunteer will be expected to serve every week.</p>
                <br>
                <p><strong>If interested in learning more about this opportunity, please contact director Kathy…</strong></p>

                <!--<a href="mailto:info@lighthousedfw.org" class="btn btn-solid"><span>Join Now</span></a>-->
            </div>
        </article>
    </div>
</div>

