---
layout: default
---

{% assign serve = site.data.contentful.spaces.lighthouse.serveCard | sort: 'title'%}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(/assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>Serve</h1>
    </div>
</div>


<div class="container">

    <div class="features-wrapper serve">
        {% for opp in serve %}
        <div class="feature-two">
            <div class="top clearfix">
                <a href="{{opp.title|slugify}}"><h3>{{opp.title}}</h3></a>
            </div>
        </div>                
        {% endfor %}            
    </div>

</div>