<div class="hero-footer alert-header">
    <div class="service-time">
        <span>Lighthouse Annual Retreat on Oct 6-8th</span><br/>
        <div class="info">
            Due to Lighthouse Annual Retreat on Oct 6-8th, we ask both our regular attendees and guests to attend Youth Service on Oct 8th.
        </div>
    </div>
</div>