<!-- Contact Form -->
<div class="contact-wrapper">
  <div class="container">
    <div class="section-title">
      <h2>Contact Us</h2>
    </div>
    <div class="row contact-details">
      <div class="col-xs-6 contact-detail">
        <a href="https://goo.gl/maps/pN1epztQUF12" target="_blank">
          <div class="icon">
            <i class="icon-Church"></i>
          </div>
          <h4 class="name" style="margin-top: 2px;">Address</h4>
          <h4 class="info">1301 Abrams Rd<br />Richardson, TX 75081</h4>
        </a>
      </div>
      <div class="col-xs-6 contact-detail">
        <a href="mailto:info@lighthousedfw.org" target="_top">
          <div class="icon">
            <i class="icon-Email"></i>
          </div>
          <h4 class="name" style="margin-top: 10px;">Email</h4>
          <h4 class="info">info@lighthousedfw.org</h4>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="site-info">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2020: The Lighthouse Dallas. All rights reserved.</p>
        </div>
        <div class="col-sm-6">
          <ul class="social-media">
            <li>
              <a href="https://www.instagram.com/lighthouse_dfw"
                ><i class="icon-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/binnerri"
                ><i class="icon-facebook"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
