<!-- Header -->
<header id="main-header" class="selected-{{ page.selected_index }}">
  <div id="search-header-bar">
    <div class="container">
      <form action="#" name="search-header">
        <input type="search" name="search" placeholder="Type and Hit Enter" />
        <button><i class="icofont icofont-search"></i></button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="site-branding col-md-5 col-xs-10">
        <a href="/"
          ><div class="logo"></div>
          <span>Lighthouse</span></a
        >
      </div>
      <div id="site-navigation" class="col-md-7 header-primary">
        <ul id="main-menu">
          <li class="menu-item">
            <a>About</a>
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a href="/about/about-us">About Us</a>
              </li>
              <li class="sub-menu-item">
                <a href="/about/our-team">Our Team</a>
              </li>
              <li class="sub-menu-item">
                <a href="/about/our-beliefs">Our Beliefs</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a>Connect</a>
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a href="/connect/community-groups">Community Groups</a>
              </li>
              <li class="sub-menu-item">
                <a href="/connect/explore-ministries">Explore Ministries</a>
              </li>
              <!--<li class="sub-menu-item"><a href="/connect/our-beliefs">Volunteer</a></li>-->
              <li class="sub-menu-item">
                <a href="/connect/become-member">Become a Member</a>
              </li>
              <li class="sub-menu-item">
                <a href="/connect/get-baptized">Get Baptized</a>
              </li>
              <li class="sub-menu-item"><a href="/connect/serve">Serve</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a>Resources</a>
            <ul class="sub-menu">
              <li class="sub-menu-item"><a href="/sermons">Sermons</a></li>
              <li class="sub-menu-item">
                <a href="/resources/bible-study">Bible & Study</a>
              </li>
              <li class="sub-menu-item">
                <a href="/resources/reap-method">Reap Method</a>
              </li>
              <li class="sub-menu-item"><a href="/media">Media</a></li>
              <li class="sub-menu-item">
                <a href="https://www.freeshapetest.com/" target="_blank"
                  >Discover Your S.H.A.P.E.</a
                >
              </li>
              <li class="sub-menu-item">
                <a href="/resources/equipping">Equipping</a>
              </li>
            </ul>
          </li>
          <li class="menu-item"><a href="/events">Events</a></li>
          <li class="menu-item"><a href="/giving">Giving</a></li>
        </ul>
      </div>
      <div class="col-xs-2 visible-xs visible-sm">
        <div class="buttons">
          <button id="menu-toggle"><i class="icon-navigation-menu"></i></button>
        </div>
      </div>
    </div>
  </div>
</header>
