---
layout: default
selected_index: 3
---

{% assign currentSeries = site.data.contentful.spaces.lighthouse.currentSermonSeries[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{currentSeries.header_image.url}}?w=1920)"></div>
    <div class="container">
        <h1>BIBLE READING & STUDY RESOURCES</h1>
    </div>
</div>

<div class="sermons-wrapper container">
    <div id="sermons">
        <div class="featured-article-wrapper sermon">
            <div class="container">
                <article class="row">
                    <div class="col-md-4">
                        <div class="sermon-img-wrapper">
                            <div class="sermon-img resources" style="background-image: url('../assets/img/resources/you-version.jpg')"></div>
                        </div>
                    </div>
                    <div class="col-md-8 info-block">
                        <h2>You Version</h2>
                        <p>This app features Bible in different versions, Audio Bible, Reading Plans, Daily Devotionals, Videos, and many more.</p>
                        <p>
                            <br/>
                            <a href='https://play.google.com/store/apps/details?id=com.sirma.mobile.bible.android&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img class="resources left" style="margin-right: 15px;" alt='Get it on Google Play' src='../assets/img/resources/google-play-badge.png' height="50"/>
                            </a>
                            <a href="https://itunes.apple.com/us/app/bible/id282935706">
                                <img class="resources" src="../assets/img/resources/download-on-the-app-store.png" height="50"/>
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="featured-article-wrapper sermon">
            <div class="container">
                <article class="row">
                    <div class="col-md-4">
                        <div class="sermon-img-wrapper">
                            <div class="sermon-img resources" style="background-image: url('../assets/img/resources/blb-logo.jpg')"></div>
                        </div>
                    </div>
                    <div class="col-md-8 info-block">
                        <h2>BLB (Blue Letter Bible)</h2>
                        <p>This app features helpful study tools, such as, text commentaries, interlinear, Hebrew/ Greek lexicon, dictionaries, word searches, and more.</p>
                        <p>
                            <br/>
                            <a href='https://play.google.com/store/apps/details?id=org.blueletterbible.blb&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img class="resources left" style="margin-right: 15px;" alt='Get it on Google Play' src='../assets/img/resources/google-play-badge.png' height="50"/>
                            </a>
                            <a href="https://itunes.apple.com/us/app/blue-letter-bible/id365547505?mt=8">
                                <img class="resources" src="../assets/img/resources/download-on-the-app-store.png" height="50"/>
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="featured-article-wrapper sermon">
            <div class="container">
                <article class="row">
                    <div class="col-md-4">
                        <div class="sermon-img-wrapper">
                            <div class="sermon-img resources" style="background-image: url('../assets/img/resources/read-scripture.jpg')"></div>
                        </div>
                    </div>
                    <div class="col-md-8 info-block">
                        <h2>Read Scripture App</h2>
                        <p>This app is a great resource for visual and audio learner as it features engaging, animated videos about each book of the bible and thematic videos as you read through the Bible following their reading plan.</p>
                        <p>
                            <br/>
                            <a href='https://play.google.com/store/apps/details?id=com.youmeforever.readscripture'>
                                <img class="resources left" style="margin-right: 15px;" alt='Get it on Google Play' src='../assets/img/resources/google-play-badge.png' height="50"/>
                            </a>
                            <a href="https://itunes.apple.com/us/app/read-scripture/id1067865974?mt=8">
                                <img class="resources" src="../assets/img/resources/download-on-the-app-store.png" height="50"/>
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>