---
layout: default
selected_index: 3
---

<!-- Page Heading -->
<div class="page-head bg-one">
  <div
    class="bg-img"
    style="background-image: url(../assets/img/sermons-header.jpg)"
  ></div>
  <div class="container">
    <h1>EQUIPPING</h1>
  </div>
</div>

<div class="sermons-wrapper container">
  <div id="sermons">
    <div class="featured-article-wrapper sermon">
      <div class="container">
        <article class="row">
          <div class="col-md-12 info-block">
            <div style="padding-left: 25px;">
              <h2>Cover To Cover</h2>
              <p>
                Imagine being able to walk away with the big picture of the
                entire Bible in just six weeks. Cover to Cover is a six-week
                online course designed to guide you through the entire Bible so
                that you will have an understanding of the structure, timeline,
                and themes of Scripture. You must register by 7/21.
              </p>
              <br />
              <p>
                Cover To Cover will start 7/28 and ends 9/1.
              </p>
              <br />
              <p>
                <a href="/cover-to-cover">Click here to register</a>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
