---
layout: default
selected_index: 3
---

{% assign currentSeries = site.data.contentful.spaces.lighthouse.currentSermonSeries[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{currentSeries.header_image.url}}?w=1920)"></div>
    <div class="container">
        <h1>REAP Method</h1>
    </div>
</div>

<div class="container">
    <div class="features-wrapper">
        <div class="section-title">
            <h3>REAP (Read, Examine, Apply, Pray) is a straightforward way to process what you’re reading, either on
                your own or with a group of people.</h3>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-alt">
    <div class="container">
        <div class="features beliefs">
            <div class="feature-two row">
                <div class="col-md-6">
                    <div class="top clearfix">
                        <h2>READ</h2>
                    </div>
                    <p>Open your Bible and ask the Holy Spirit to teach, correct, and train you (2 Timothy 3:16). As
                        you’re reading, ask these questions:</p>
                    <p>
                    <ul class="reap">
                        <li>What is happening in this passage? What things are emphasized, repeated, related?</li>
                        <li>What do you see about God? What is God doing in this passage?</li>
                        <li>What do you see about man?</li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm">
                    <img src="../assets/img/reap/read-min.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-6 hidden-xs hidden-sm">
                <img src="../assets/img/reap/examine-min.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-6">
                <div class="top clearfix">
                    <h2>EXAMINE</h2>
                </div>
                <p>Spend some time reflecting. Ask yourself these questions, and write down your thoughts:</p>
                <p>
                <ul class="reap">
                    <li>Observation- ASK: What do I see? Look for:
                        <ul class="reap">
                            <li>Repeated phrases or theme(s)</li>
                            <li>Characters</li>
                            <li>Connecting Words [Therefore!]</li>
                        </ul>
                    </li>
                    <li>Interpretation- ASK: What does this mean? Look for:
                        <ul class="reap">
                            <li>Content [words]</li>
                            <li>Context [history, culture]</li>
                        </ul>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-alt">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-6">
                <div class="top clearfix">
                    <h2>APPLY</h2>
                </div>
                <p>After examining the passage, apply the text to your own life. Ask yourself these questions:</p>
                <p>
                <ul class="reap">
                    <li>How do I need to repent? What truths do I need to believe? What false beliefs must I turn
                        from?
                    </li>
                    <li>What can I do – empowered by the Holy Spirit – today to apply this passage?</li>
                </ul>
                </p>
            </div>
            <div class="col-md-6 hidden-xs hidden-sm">
                <img src="../assets/img/reap/apply-min.jpg" class="img-responsive"/>
            </div>
        </div>
    </div>
</div>


<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-6 hidden-xs hidden-sm">
                <img src="../assets/img/reap/pray-min.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-6">
                <div class="top clearfix">
                    <h2>PRAY</h2>
                </div>
                <p>Pray through the passage and your application, asking God to change your heart and to change your
                    life, based on the time you’ve spent in God’s Word.</p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-alt">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-6">
                <div class="top clearfix">
                    <h2>TIPS</h2>
                </div>
                <p>1.&nbsp;&nbsp;PACE yourself: Start by committing 15 min to read & study the Bible and 5 min to pray.</p>
                <p>2. PARTNER with others: After you finish, share what God taught you with at least one person—your roommate, your spouse, your kids, or your coworkers. Don't keep what God taught you to yourself.</p>
                <br/><br/>
            </div>
            <div class="col-md-6">
                <h2><a href="/resources/reap-example.html" target="_blank">For a sample REAP, click here.</a></h2><br/><br/>
            </div>
        </div>
    </div>
</div>