---
layout: default
selected_index: 3
---

{% assign currentSeries = site.data.contentful.spaces.lighthouse.currentSermonSeries[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{currentSeries.headerImage.url}}?w=1920)"></div>
    <div class="container">
        <h1>REAP Example</h1>
    </div>
</div>

<div class="container">
    <div class="features-wrapper">
        <div class="section-title">
            <h3>SCRIPTURE: Mark 12:28-31</h3>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-alt">
    <div class="container">
        <div class="features beliefs">
            <div class="feature-two row">
                <div class="col-md-12">
                    <div class="top clearfix">
                        <h2>READ</h2>
                    </div>
                    <p>Jesus tells the scribes that the most important commandment is to love God with all your heart, soul, mind and strength. He continues, saying that the second most important commandment is to love your neighbor as yourself.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-12">
                <div class="top clearfix">
                    <h2>EXAMINE</h2>
                </div>
                <p>God made us with different faculties: a heart to have emotion, a mind to think, strength to do, and a soul that is eternal, and I am commanded to love God with the fullness of all of my faculties. This is the first and greatest commandment; every other area of obedience flows out of this.<br/><br/>
                    Jesus says the command to love our neighbors is like the first commandment. Loving others as myself is somehow connected to loving God with all of my being. </p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-alt">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-12">
                <div class="top clearfix">
                    <h2>APPLY</h2>
                </div>
                <p>Do I think of loving God with all that I am as the greatest and first call on my life? No. I have reduced obedience to praying or being kind to my family and friends, or fighting the desire to lie.</p><br/>
                <p>Do I love God with my mind: Do I seek to study His Word daily, think about Him and learn about Him? Do I love God with my heart and soul: Do I have affection toward something that is stronger than my affection toward Him? Do I love God with my strength: Do I actually live out his Word rather than just knowing his Word?</p><br/>
                <p>I can think of several people that I am far from loving well. How is that lack of love for others connected to my lack of love for God? </p>
            </div>
        </div>
    </div>
</div>


<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="feature-two row">
            <div class="col-md-12">
                <div class="top clearfix">
                    <h2>PRAY</h2>
                </div>
                <p>Father, I confess that I can’t muster up the love that you want from me. Give me a new mind, a new heart, a new soul, and new strength, and give me the ability to love you fully with all of my faculties.<br/><br/>
                    I pray for my mind specifically – that I would honor you today with my thoughts and love you well. I pray for my relationship with my father and my brother. Help me to love them because I love you and you made them!  </p>
            </div>
        </div>
    </div>
</div>