--- 
layout: default 
---

{% assign media = site.data.contentful.spaces.lighthouse.media | sort: 'date' | reverse %}

<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(../assets/img/photos-header-min.jpg); background-position: center;"></div>
    <div class="container">
        <h1>Media</h1>
    </div>
</div>

<div class="features-wrapper">
    <div class="container">
        <div id="gallery" class="row">
            {% for m in media %}
            <a href="{{ m.sys.id }}">
                <div class="col-md-4 thumb-tile">                   
                    <div class="thumb list" style="background-image: url('{{ m.thumbnail.url }}?h=480')">                        
                    </div>
                    <div class="team-member">
                        <div class="name">
                            <h4>{{ m.title }}</h4>
                            <h5>{{ m.date | date: '%B %-d, %Y' }}</h5>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>