@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cei8tf');
  src:  url('../fonts/icomoon.eot?cei8tf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cei8tf') format('truetype'),
    url('../fonts/icomoon.woff?cei8tf') format('woff'),
    url('../fonts/icomoon.svg?cei8tf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-alt-2:before {
  content: "\ed89";
}
.icon-social-instagram:before {
  content: "\ee14";
}
.icon-close-line-circled:before {
  content: "\efb2";
}
.icon-close-line-squared:before {
  content: "\efb4";
}
.icon-navigation-menu:before {
  content: "\f080";
}
.icon-Call:before {
  content: "\e900";
}
.icon-Children:before {
  content: "\e901";
}
.icon-Church:before {
  content: "\e902";
}
.icon-Email:before {
  content: "\e903";
}
.icon-Online:before {
  content: "\e904";
}
.icon-Park:before {
  content: "\e905";
}
.icon-Time:before {
  content: "\e906";
}
.icon-Wear:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}

