---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
  <div
    class="bg-img"
    style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"
  ></div>
  <div class="container">
    <h1>{{ about.title }}</h1>
  </div>
</div>

<div class="skills-wrapper bg-main">
  <div class="container">
    <div class="section-title">
      <h2><span>Our</span> Name</h2>
    </div>
    <div class="row content">
      <div class="col-md-12 info-block text-center">
        <p>
          We aspire to be a beacon of hope for all people. Having been rescued
          by Jesus Christ ourselves, we strive to draw others to Jesus Christ,
          the true Light of the world.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="skills-wrapper">
  <div class="container">
    <div class="section-title">
      <h2><span>Our</span> Mission</h2>
    </div>
    <div class="row content">
      <div class="col-md-12 info-block text-center">
        <p>
          To Glorify God by Helping All People Become Fully Devoted Followers of
          Jesus Christ.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="features-wrapper text-center">
  <div class="container">
    <div class="section-title">
      <h2><span>Our</span> 5 Bs</h2>
    </div>
    <div class="row features">
      <div class="col-sm-12">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>BELIEVE IN JESUS CHRIST</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>BELONG TO CHRIST’S BODY</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>BE TRAINED IN GOD’S TRUTH</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>BE STRONG IN MINISTRY</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>BE MISSIONAL DAILY</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
