---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"></div>
    <div class="container">
        <h1>{{ about.title }}</h1>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Name</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>Just as the lighthouse shines its light to draw ships at sea into safe harbor, we aspire to be a beacon of hope for all people lost without Christ.  Having been rescued and being guided by Christ ourselves, we seek to draw others to Jesus Christ, the light of the world, the only hope for all people. </p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Mission</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>We exist to develop DISCIPLES of JESUS CHRIST devoted to LOVING GOD, LOVING OTHERS, and SERVING the WORLD.</p>
            </div>
        </div>
    </div>
</div>