---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"></div>
    <div class="container">
        <h1>{{ about.title }}</h1>
    </div>
</div>