---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
  <div
    class="bg-img"
    style="background-image: url({{
      about.hero_image.url
    }}?w=2500); background-position: center;"
  ></div>
  <div class="container">
    <h1>{{ about.title }}</h1>
  </div>
</div>

<!-- Staff -->
<div class="team-wrapper">
  <div class="container">
    <div class="section-title">
      <h2><span>Our</span> Staff</h2>
    </div>
    <div class="row team-members">
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/staff/kj-ahn-2-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>KJ Ahn</h4>
              <h5>Lead Pastor</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/staff/peter-chong-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Peter Chong</h4>
              <h5>Worship Leader</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/staff/younghui-tewksbury.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Young Hui Tewksbury</h4>
              <h5>Lighthouse Kids Director</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row team-members">
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/staff/jinshil-kim-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Jin Shil Kim</h4>
              <h5>Administrative Assistant</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-wrapper bg-alt">
  <div class="container">
    <div class="section-title">
      <h2><span>Our</span> Leadership Team</h2>
    </div>
    <div class="row team-members">
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/phil-kim-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Phil Kim</h4>
              <h5>Deacon, Care & Connect</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/tim-park.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Tim Park</h4>
              <h5>Deacon, Small Group, & Discipleship</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/chris-tewksbury-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Chris Tewksbury</h4>
              <h5>Host</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row team-members">
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/john-hong-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>John Hong</h4>
              <h5>Deacon, Stewardship</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/ruth-park-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Ruth Park</h4>
              <h5>Worship & Events</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/casey-marlarcher-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Casey Marlarcher</h4>
              <h5>Deacon</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row team-members">
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <img
            src="/assets/img/leadership/esther-lee-min.jpg"
            alt=""
            class="img-responsive"
          />
          <div class="name">
            <div class="content">
              <h4>Esther Lee</h4>
              <h5>Missional Living</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
