---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"></div>
    <div class="container">
        <h1>{{ about.title }}</h1>
    </div>
</div>

<div class="team-wrapper bg-alt">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Leadership Team</h2>
        </div>
        <div class="row team-members">
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="/assets/img/leadership/phil-kim-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Phil Kim</h4>
                            <h5>Connect & Care</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="/assets/img/leadership/casey-marlarcher-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Casey Marlarcher</h4>
                            <h5>Small Group & Discipleship</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="/assets/img/leadership/chris-tewksbury-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Chris Tewksbury</h4>
                            <h5>Worship (Host)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-members">
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="/assets/img/leadership/daniel-clark-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Daniel Clark</h4>
                            <h5>Community Outreach & Global Mission</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="/assets/img/leadership/john-hong-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>John Hong</h4>
                            <h5>Stewardship</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="team-member">
                    <img src="/assets/img/leadership/ruth-park-min.jpg" alt="" class="img-responsive">
                    <div class="name">
                        <div class="content">
                            <h4>Ruth Park</h4>
                            <h5>Worship (Praise Team)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>