---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img"
         style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"></div>
    <div class="container">
        <h1>{{ about.title }}</h1>
    </div>
</div>

<div class="container">
    <div class="features-wrapper">
        <div class="section-title">
            <h2><span>Our</span> Beliefs</h2>
        </div>
        <div class="features beliefs">
            <div class="feature-two">
                <div class="top clearfix">
                    <h3>The Scriptures</h3>
                </div>
                <p>We believe that the Scriptures is the infallible, authoritative Word of God.</p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>The Triune God</h3>
                </div>
                <p>We believe that there is one true, infinite, almighty God who eternally exists in three
                    Persons in perfect unity: Father, Son, and Holy Spirit.
                </p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>God the Father</h3>
                </div>
                <p>We believe that God the Father is the Creator and Sustainer of heaven and earth.</p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>Jesus Christ</h3>
                </div>
                <p>We believe that Jesus Christ is the eternal Son of God, both truly God and truly human,
                    having been conceived of the Holy Spirit and born of the Virgin Mary, lived a sinless
                    life,
                    died the substitutionary death on the cross to pay for our sin, was bodily raised from
                    death, ascended into heaven to reign for eternity at the right hand of God.</p>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>The Holy Spirit</h3>
                </div>
                <p>We believe that the Holy Spirit is God who enables believers to live a godly living. The
                    various gifts of the Holy Spirit are given today as in the New Testament time and are to
                    be
                    sought for the purpose of building up the body of Christ.</p>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>Humanity</h3>
                </div>
                <p>We believe that God created humanity in God’s own image and was good. However, humanity
                    rebelled against God and invited sin into the world and thus deserves God’s wrath.</p>
            </div>


            <div class="feature-two">
                <div class="top clearfix">
                    <h3>Salvation</h3>
                </div>
                <p>We believe that people are saved only through faith in the person and the work of Jesus
                    Christ and repentance from sin.</p>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>The Church</h3>
                </div>
                <p>We believe that through Christ, we are adopted into the family of God and adopt new
                    identity
                    as siblings in Christ with God as our Father and Christ as the head of the church.
                    Within
                    the covenant community of the church, God’s grace is extended through the preaching of
                    the
                    Word, the administration of Sacraments (Baptism and Communion), and the faithful
                    practice of
                    mutual discipline. The church must witness Jesus Christ and the good news of Jesus
                    Christ
                    both in and to the world.</p>
            </div>

            <div class="feature-two">
                <div class="top clearfix">
                    <h3>The Resurrection</h3>
                </div>
                <p>We believe that there will be bodily resurrection of both the saved and the lost.</p>
            </div>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>The Consummation</h3>
            </div>
            <p>We believe that Christ will return to judge the just and the unjust, establish Christ’s
                kingdom in the new heavens and the new earth. In the Consummation, Satan with his
                hots and all the those who did not believe in Jesus Christ are finally removed from the
                presence of God, enduring eternal punishment while those who put their faith in Jesus
                Christ, the righteous, in glorious bodies, shall live and reign with Christ forever.
                Married
                to Christ as his Bride, the Church will be in the presence of God forever, serving him
                and
                giving him unending praise and glory. Then shall the eager expectation of creation be
                fulfilled and the whole earth shall proclaim the glory of God who makes all things new.
            </p>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>The Gospel</h3>
            </div>
            <p>The Gospel is the good news that God will reconcile and renew the broken creation
                including
                sinful humanity through the life, death, resurrection, ascension, and the future return
                of
                Jesus Christ for God’s glory and for the good of God’s people.</p>
        </div>

    </div>
</div>