---
layout: default
selected_index: 1
---

{% assign about = site.data.contentful.spaces.lighthouse.about[0] %}

<!-- Page Heading -->
<div class="page-head bg-one">
  <div
    class="bg-img"
    style="background-image: url({{ about.hero_image.url }}?w=2500); background-position: center;"
  ></div>
  <div class="container">
    <h1>{{ about.title }}</h1>
  </div>
</div>

<div class="features-wrapper text-center">
  <div class="container">
    <div class="section-title">
      <h2><span>Our</span> Core Values</h2>
    </div>
    <div class="row features">
      <div class="col-sm-4">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>Christ Centered</h3>
          </div>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>Hospitable</h3>
          </div>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>Healthy</h3>
          </div>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>Healthy</h3>
          </div>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>Authentic</h3>
          </div>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-two">
          <div class="top clearfix">
            <h3>Missional</h3>
          </div>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipi sicing eli in et dolore magna aliqu utarde tone hoyto kono dino bola hobe na kotota vebesilam.</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
