---
---

@import "fonts";
@import "lighthouse-font";
@import "icofont";

/* 00 - Less and General Styles */

/* 0.1 - Animations*/

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  70% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* 0.2 - Less */

// Mixins

$main-color: #0073ce;
$main-dark: #004174;
$main-text: #222222;

$black: #000;
$white: #fff;

$gray-97: #f7f7f7; // gray 97%
$gray-95: #f2f2f2; // gray 95%
$gray-87: #dddddd; // gray 87%
$gray-85: #d8d8d8; // gray 85%
$gray-60: #999999; // gray 60%
$gray-73: #bbbbbb; // gray 73%

// Variables

@mixin font-1-medium($weight: 500) {
  font-family: "ProximaNova-Regular", sans-serif;
  //font-family: "Poppins" , sans-serif;
  font-weight: $weight;
}

@mixin font-1-semi($weight: 500) {
  font-family: "ProximaNova-Regular", sans-serif;
  //font-family: "Poppins" , sans-serif;
  font-weight: $weight;
}

@mixin font-1-bold($weight: 700) {
  font-family: "ProximaNova-Regular", sans-serif;
  //font-family: "Poppins" , sans-serif;
  font-weight: $weight;
}

@mixin font-2-regular($weight: 400) {
  font-family: "ProximaNova-Regular", sans-serif;
  //font-family: "Source Sans Pro" , sans-serif;
  font-weight: $weight;
}

@mixin font-2-bold($weight: 700) {
  font-family: "ProximaNova-Regular", sans-serif;
  //font-family: "Source Sans Pro" , sans-serif;
  font-weight: $weight;
}

/* 0.3 - General Styles */

a,
button,
input,
input:focus,
input:hover,
textarea,
textarea:focus,
textarea:hover,
blockquote,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul > li {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  text-decoration: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

body {
  background: white;
  font-family: "ProximaNova-Regular", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  @include font-1-bold();
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  @include font-1-bold();
  letter-spacing: 1px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  @include font-1-bold();
  letter-spacing: 2px;
}

h4 {
  font-size: 16px;
  line-height: 16px;
  @include font-1-bold();
}

h5 {
  font-size: 14px;
  line-height: 14px;
  @include font-2-regular();
}

p {
  font-size: 16px;
  line-height: 27px;
  @include font-2-regular();
}

.nivo-activator {
  display: block;
}

/* Site - content */
.site-content {
  margin-top: 94px;
  @media screen and (max-width: 768px) {
    margin-top: 75px;
  }
  @media screen and (min-width: 992px) {
    margin-top: 93px;
  }
  @media screen and (min-width: 1201px) {
    margin-top: 96px;
  }
}

/* Center Buttons */
.btn-wrapper {
  text-align: center;
}

/* Mask That Aplys on Parallax*/
.parallax-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: fade($main-color, 90%);
  &.fade-black {
    background: fade($black, 16%);
  }
  &.white {
    background: fade($white, 90%);
  }
}

/* G-map */
#gmap {
  width: 100%;
  height: 264px;
  &.h2 {
    height: 380px;
  }
}

/* 1.0 - UI Elements */

/* 1.1 Buttons */
.btn {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 48px;
  padding: 0 40px;
  @include font-1-bold;
  line-height: 48px;
  text-transform: uppercase;
  border-radius: 40px;
  letter-spacing: 2px;
  span {
    position: relative;
    z-index: 10;
  }
  &.btn-solid {
    background: $main-color;
    color: $white;
    transition: background 0.3s ease;
    &::after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1;
    }
    &:focus {
      color: $white;
    }
    &:hover {
      color: $white;
      background: darken($main-color, 7%);
      &::after {
        left: 120%;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
  &.btn-outline {
    background: white;
    color: $main-color;
    transition: background 0.3s ease;
    border: 4px solid $main-color;
    line-height: 40px;
    width: 100%;
    &::after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1;
    }
    &:focus {
      color: $white;
    }
    &:hover {
      color: $main-color;
      &::after {
        left: 120%;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
  &.btn-ghost {
    border: 2px solid $white;
    position: relative;
    overflow: hidden;
    color: $white;
    line-height: 46px;
    transition: all 0.25s ease;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 0;
      height: 100%;
      opacity: 0.6;
      background: $white;
      transform: translateY(-25px);
      transition: all 0.3s ease;
    }
    &.dark {
      color: $main-text;
      border: 2px solid $main-text;
      transition: border 0.2s ease, color 0.1s ease;
      &::after {
        display: done;
      }
      &:hover {
        border: 2px solid $main-color;
      }
    }
    &:hover {
      color: $main-color;
      &::after {
        transform: translateY(0px);
        width: 100%;
        opacity: 1;
      }
    }
  }
}

/* Simple Links */
.simple-link {
  @include font-1-bold;
  text-transform: uppercase;
  color: $main-text;
  font-size: 16px;
  transition: all 0.2s ease;
  i {
    color: $main-color;
  }
  &.left {
    float: left;
    i {
      margin-right: 5px;
    }
  }
  &.right {
    float: right;
    i {
      margin-left: 5px;
    }
  }
  &:hover {
    color: $main-color;
  }
}

/* 1.2 -Section Name*/
.section-title {
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: $main-text;
    span {
      color: $main-color;
    }
    &.white {
      color: $white;
    }
  }
}

/* 1.3 - Page Head*/
.page-head {
  padding: 80px 0 80px;
  position: relative;
  overflow: hidden;
  background: black;
  &.bg-one {
    //background: url(../img/about-header.jpg);
  }
  &.bg-two {
    background: black;
    //background: url(../img/connect-header.jpg);
  }
  &.bg-three {
    background: url(http://placehold.it/1920x285);
  }
  &.bg-four {
    background: url(http://placehold.it/1920x285);
  }
  &.bg-five {
    background: url(http://placehold.it/1920x285);
  }
  .container {
    position: relative;
    z-index: 10;
  }
  h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
  }
  h2,
  h3 {
    text-transform: uppercase;
    color: $white;
    text-align: center;
  }
  h3 {
    margin-bottom: 5px;
  }
}

/* 1.4 - Feature styles */

/* Feature Style One*/
.feature {
  text-align: center;
  cursor: pointer;
  .icon {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    border-radius: 50%;
    background: $gray-97;
    color: $main-color;
    line-height: 96px;
    font-size: 36px;
    transition: background 0.6s ease;
    i {
      display: inline-block;
      transition: all 0.4s ease-in-out;
    }
  }
  h3 {
    color: $main-text;
    text-transform: uppercase;
    margin-top: 30px;
  }
  p {
    @include font-2-regular;
    color: $main-text;
    width: 95%;
    margin: 20px auto 0;
  }
  &:hover,
  &:focus {
    .icon {
      background: $main-color;
      color: $white;
      i {
        transform: rotate(-1080deg);
      }
    }
  }
  @media screen and (max-width: 768px) {
    p {
      width: 65%;
    }
  }
}

/* Feature Style Two */
.feature-two {
  margin-bottom: 35px;
  cursor: pointer;
  .top {
    margin-bottom: 25px;
    i {
      float: left;
      font-size: 36px;
      color: $main-color;
      margin-right: 20px;
      transition: all 0.3s ease;
    }
    h3 {
      margin-top: 20px;
      text-transform: uppercase;
      color: $main-text;
    }
  }
  p {
    color: $main-text;
  }
  &:hover,
  &:focus {
    i {
      animation: pulse 0.25s ease 1;
      transform-origin: 70% 70%;
    }
  }
}

/* Feature Styles Three*/
.feature-three {
  margin-bottom: 40px;
  cursor: pointer;
  &.left {
    text-align: right;
  }
  i {
    display: inline-block;
    font-size: 36px;
    color: $main-color;
    margin-bottom: 20px;
  }
  h3 {
    text-transform: uppercase;
    color: $main-text;
    margin-bottom: 20px;
  }
  p {
    color: $main-text;
  }
  &:hover,
  &:focus {
    i {
      animation: bounce 0.35s ease 1;
      transform-origin: 70% 70%;
    }
  }
  @media screen and (max-width: 768px) {
    text-align: center;
    &.left {
      text-align: center;
    }

    p {
      width: 65%;
      margin: 0 auto;
    }
  }
}

/* Feature Style Four*/
.feature-four {
  margin-bottom: 40px;
  .icon-animated {
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-right: 25px;
    width: 96px;
    height: 96px;
    font-size: 36px;
    line-height: 92px;
    border-radius: 50%;
    border: 2px solid $main-color;
    color: $main-color;
    transition: all 0.12s ease;
    margin-bottom: 25px;
    i {
      display: inline-block;
      position: relative;
      z-index: 10;
    }
    @media screen and (max-width: 450px) {
      float: none;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: $main-color;
      border-radius: 50%;
      transform: scale(0);
      transition: all 0.2s ease;
      content: "";
    }
  }
  h3 {
    text-transform: uppercase;
    color: $main-text;
    margin-bottom: 20px;
  }
  p {
    width: 75%;
    color: $main-text;
  }
  &:hover,
  &:focus {
    .icon-animated {
      color: $white;
      &::after {
        transform: scale(0.9);
        opacity: 1;
      }
    }
  }
}

/* 1.5 - Filter */
#fam-filter {
  text-align: center;
  li {
    display: inline-block;
    text-align: center;
    @include font-1-semi;
    text-transform: uppercase;
    color: $main-text;
    padding: 10px 28px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    &:hover,
    &.focus,
    &.selected {
      color: $main-color;
      border: 4px solid $main-color;
      border-radius: 48px;
      padding: 10px 24px;
    }
  }
  @media screen and (max-width: 700px) {
    text-align: left;
  }
}

/* 1.6 -  Project Showcase */
.project-showcase {
  position: relative;
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
  cursor: crosshair;
  img {
    transition: transform 0.2s ease;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: fade($main-color, 85%);
    transform: scale(0);
    transition: transform 0.2s ease;
    z-index: 10;
    h4 {
      margin: 30px 0 8px 30px;
      @include font-2-bold;
      color: $white;
      text-transform: uppercase;
    }
    h5 {
      margin-left: 30px;
      color: $white;
    }
    .icon {
      position: absolute;
      bottom: 30px;
      right: 30px;
      border-right: 72px solid $white;
      border-top: 72px solid transparent;
      i {
        position: absolute;
        top: -30px;
        left: 43px;
        font-size: 16px;
        color: $main-color;
      }
    }
  }
  &:hover,
  &:focus {
    .overlay {
      transform: scale(1);
    }
    img {
      transform: scale(1.4);
    }
  }
  @media screen and (max-width: 768px) {
    img {
      display: block;
      width: 100%;
    }
  }
}

/* 1.7 -  Service */
.service {
  overflow: hidden;
  position: relative;
  // padding: 18px;
  height: 336px;
  text-align: center;
  background: $white;
  margin-bottom: 30px;
  h3 {
    text-transform: uppercase;
    margin: 42px 0 36px;
    color: $main-text;
    transition: all 0.03s linear;
  }
  i {
    font-size: 48px;
    line-height: 48px;
    color: $main-color;
    transition: all 0.2s ease;
  }
  p {
    width: 86%;
    margin: 36px auto 0;
    color: $main-text;
    transition: all 0.2s ease;
  }
  .content {
    position: relative;
    z-index: 10;
    height: 89%;
    margin: 18px;
    border: 1px solid $main-color;
    transition: all 0.2s linear;
  }
  &::after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
    background: fade($main-color, 100%);
  }
  &:hover,
  &:focus {
    h3,
    i,
    p {
      color: $white;
    }
    &::after {
      height: 100%;
    }
    .content {
      border: 1px solid $white;
    }
  }
  &.style-two {
    background: $gray-97;
  }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    h3 {
      margin-top: 25px;
    }
  }
}

/* 1.8 - Counter */
.counter {
  text-align: center;
  span {
    font-size: 60px;
    line-height: 60px;
    @include font-1-bold;
    color: $white;
    @media screen and (max-width: 991px) {
      font-size: 50px;
      line-height: 50px;
    }
    @media screen and (max-width: 760px) {
      font-size: 36px;
      line-height: 36px;
    }
  }
  h3 {
    text-transform: uppercase;
    color: $white;
    margin-top: 20px;
  }
  &.style-two {
    span {
      color: $main-color;
    }
    h3 {
      color: $main-text;
    }
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 65px;
  }
}

/* 1.9 - Team Member */
.team-member {
  position: relative;
  max-width: 360px;
  margin: 0 auto;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
  .name,
  .social-media {
    // position: absolute;
    // height: 0;
    // bottom: 0;
    // &::before{
    // 	position: absolute;
    // 	display: block;
    // 	content: "";
    // 	z-index: 1;
    // 	top: -120px;
    // }
    .content {
      position: relative;
      z-index: 10;
    }
  }
  .name {
    left: 0;
    width: 100%;
    .content {
      margin-top: 15px;
    }
    h5 {
      color: $gray-60;
      margin-top: 10px;
    }
    h4 {
      text-transform: uppercase;
      @include font-1-bold;
      color: $main-text;
    }
  }
  .social-media {
    right: -170px;
    width: 170px;
    background: $main-color;
    transition: right 0.2s ease;
    &::before {
      border-right: 170px solid $main-color;
      border-top: 120px solid transparent;
    }
    .content {
      margin-top: -50px;
      margin-left: 70px;
    }
    a {
      display: inline-block;
      margin: 0 3px;
      font-size: 18px;
      color: $white;
      padding: 2px;
    }
  }
  &:hover {
    .social-media {
      right: 0;
    }
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

/* 1.10 Pinned Post */
.pinned-post {
  background: $white;
  overflow: hidden;
  .img-wrapper {
    position: relative;
    overflow: hidden;
    img {
      transition: transform 0.2s ease;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: fade($main-color, 80%);
      text-align: center;
      line-height: 240px;
      font-size: 26px;
      color: $white;
      transform: scale(0);
      transition: transform 0.2s ease;
      z-index: 10;
      i {
        display: inline-block;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .info-block {
    padding: 25px 20px 20px;
  }
  h5 {
    margin-bottom: 14px;
    color: $main-color;
  }
  h4 {
    @include font-1-bold;
    color: $black;
    text-transform: uppercase;
    line-height: 27px;
    transition: all 0.15s ease;
    &:hover,
    &:focus {
      color: $main-color;
    }
  }
  &:hover {
    .img-wrapper {
      img {
        transform: scale(1.4);
      }
      .overlay {
        transform: scale(1);
        i {
          transform: scale(1.3);
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

/* 1.11 -Pricing Table */
.pricing-table {
  border: 1px solid $gray-87;
  max-width: 360px;
  margin: 0 auto;
  &.featured {
    border: 1px solid $main-color;
    .price-wrapper {
      background: $main-color;
      h2,
      h5 {
        color: $white;
      }
    }
  }
  .title {
    padding: 45px;
    text-transform: uppercase;
    color: $main-text;
  }
  .price-wrapper {
    padding: 45px;
    background: $gray-97;
    h2,
    h5 {
      display: inline-block;
    }
    h2 {
      color: $main-color;
      font-size: 42px;
    }
    h5 {
      text-transform: uppercase;
      @include font-1-bold;
      color: $main-text;
    }
  }
  ul.body {
    padding: 30px 45px;
    li {
      padding: 15px 0;
      @include font-2-regular;
      color: $gray-60;
      font-size: 16px;
      line-height: 16px;
    }
  }
  .footer {
    padding: 0 45px 45px;
  }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    .title,
    .price-wrapper,
    .footer {
      padding: 45px 35px;
    }
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

/* 1.12 Contact Detail */
.contact-detail {
  text-align: left;
  .icon {
    position: relative;
    width: 60px;
    height: 60px;
    // margin: 0 auto 30px;
    // border-radius: 50%;
    // background: $main-color;
    color: $white;
    font-size: 50px;
    line-height: 60px;
    transition: all 0.3s ease;
    float: left;
    // &::after{
    // 	position: absolute;
    // 	transform: scale(0);
    // 	transition: transform .3s ease;
    // 	content: "";
    // 	top: 0;
    // 	left: 0;
    // 	right: 0;
    // 	bottom: 0;
    // 	width: 60px;
    // 	height: 60px;
    // 	border-radius: 50%;
    // 	border: 2px solid $main-color;
    // }
  }
  .name {
    text-transform: uppercase;
    @include font-1-bold;
    color: white;
    margin-bottom: 8px;
  }
  .info {
    @include font-2-regular;
    color: white;
    a {
      color: white;
    }
  }
  &.bordered {
    padding: 55px 0;
    border: 1px solid $gray-87;
  }
  // &:hover, &.focus{
  // 	.icon{
  // 		background: $white;
  // 		color: $main-color;
  // 		&::after{
  // 			transform: scale(1);
  // 		}
  // 	}
  // }
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 45px;
  }
}

/* 1.13 - General Form */
.fam-form {
  display: block;
  height: auto;
  .fields-group {
    width: 50%;
    float: left;
    &.left {
      padding-right: 15px;
    }
    &.right {
      padding-left: 15px;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      &.left,
      &.right {
        padding: 0;
      }
    }
  }
  .field {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 24px;
    input,
    textarea {
      display: block;
      width: 100%;
      height: 48px;
      background: $gray-97;
      @include font-2-regular;
      font-style: italic;
      font-size: 16px;
      padding: 0 15px;
      color: $gray-60;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid fade($gray-60, 18%);
      }
      &:focus {
        border: 1px solid $main-color;
      }
    }
    textarea {
      height: 192px;
      padding: 15px;
    }
    label {
      position: absolute;
      padding: 0 15px;
      bottom: -32px;
      width: 100%;
      height: 32px;
      line-height: 30px;
      background: $main-color;
      z-index: 10;
      @include font-2-bold;
      font-size: 16px;
      color: $white;
    }
  }
  .btn {
    float: right;
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

/* 1.14 Subscribe form */
#mc_embed_signup {
  position: relative;
  padding-top: 8px;
  input#mce-EMAIL {
    float: left;
    background: none;
    border: none;
    height: 44px;
    padding: 0 20px;
    width: 82%;
    @include font-2-regular;
    font-style: italic;
    color: $gray-60;
    &[type="email"]:focus {
      background: none;
      border: none;
    }
    @media screen and (max-width: 1200px) {
      width: 75%;
    }
  }
  #mc_embed_signup_scroll {
    border: 1px solid fade($white, 30%);
    height: 45px;
    button {
      text-align: center;
      float: left;
      width: 18%;
      height: 44px;
      color: fade($white, 30%);
      font-size: 24px;
      line-height: 45px;
      border-left: 1px solid fade($white, 30%);
      transition: all 0.2s ease-in-out;
      &:hover,
      &:focus {
        background: $white;
        color: $main-color;
      }
      @media screen and (max-width: 1200px) {
        width: 25%;
      }
    }
  }
  div.mce_inline_error {
    transition: all 0.3s ease;
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    background: $main-color !important;
  }
}

/* 1.15 Progress Bar*/
.progress-bar-wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  &.last {
    margin-bottom: 0;
  }
  .progress-bar-outer {
    position: relative;
    h5 {
      @include font-1-bold;
      color: $main-text;
      text-transform: uppercase;
    }
    .progress-bar-inner {
      position: relative;
      width: 100%;
      height: auto;
      margin-top: 12px;
      .empty-bar {
        position: relative;
        width: 100%;
        border-radius: 25px;
        height: 6px;
        background: $gray-85;
      }
      .full-bar {
        display: block;
        width: 100%;
        position: absolute;
        height: 6px;
        left: 0;
        top: 0;
        border-radius: 25px;
        background: $main-color;
        &.p-10 {
          width: 10%;
        }
        &.p-20 {
          width: 20%;
        }
        &.p-30 {
          width: 30%;
        }
        &.p-40 {
          width: 40%;
        }
        &.p-50 {
          width: 50%;
        }
        &.p-60 {
          width: 60%;
        }
        &.p-70 {
          width: 70%;
        }
        &.p-80 {
          width: 80%;
        }
        &.p-90 {
          width: 90%;
        }
        &.p-100 {
          width: 100%;
        }
      }
      .procent {
        position: absolute;
        top: -30px;
        right: 0;
        @include font-2-regular;
        color: $gray-60;
        font-size: 16px;
      }
    }
  }
}

/* 1.16 - Pagination */
ul.pagination {
  display: inline-block;
  float: right;
  li {
    display: block;
    float: left;
    text-align: center;
    margin-right: 12px;
    border-radius: 0;
    a {
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 36px;
      border: 1px solid $gray-87;
      font-size: 18px;
      @include font-2-regular;
      color: $main-text;
      &:hover,
      &.active {
        color: $main-color;
        background: white;
        border: 4px solid $main-color;
        line-height: 30px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    li {
      margin-bottom: 12px;
      a {
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
}

/* 1.17 - Nivo Lightbox*/
.nivo-lightbox-overlay {
  background: fade($black, 75%);
  z-index: 99999;
  .nivo-lightbox-wrap {
    img {
      padding: 6px;
      background: $white;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
  }
  .nivo-lightbox-nav {
    text-indent: -9999px;
    top: 25%;
    &.nivo-lightbox-prev {
      height: 50%;
      width: 10%;
      padding-left: 20px;
      background: url(../img/lightbox-arrow-left.png) center center no-repeat;
    }
    &.nivo-lightbox-next {
      height: 50%;
      width: 10%;
      padding-right: 20px;
      background: url(../img/lightbox-arrow-right.png) center center no-repeat;
    }
    &.nivo-lightbox-prev,
    &.nivo-lightbox-next {
      opacity: 0.6;
      transition: all 0.3s ease-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .nivo-lightbox-close {
    text-indent: -9999px;
    background: url(../img/lightbox-close.png) center center no-repeat;
    width: 65px;
    height: 65px;
    opacity: 0.6;
    transition: all 0.3s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}

/* 2.0 - Navigation */
.selected-1 .menu-item:nth-child(1),
.selected-2 .menu-item:nth-child(2),
.selected-3 .menu-item:nth-child(3),
.selected-4 .menu-item:nth-child(4),
.selected-5 .menu-item:nth-child(5) {
  @media screen and (min-width: 991px) {
    border-bottom: 4px solid white;
    margin-bottom: -4px;
  }
}

#header,
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background: $main-color;
  border-bottom: 4px solid $main-dark;
  box-shadow: 0px 0px 4px 0px fade($black, 8%);
  transform: translateZ(
    0
  ); /* Fix postion when hover items that have transfrom:*; */
  -webkit-transform: translateZ(
    0
  ); /* Fix postion when hover items that have transfrom:*; */
  .container,
  .row {
    position: relative;
  }
  &.nav-scroll {
    .site-branding {
      a {
        padding: 22px 0;
      }
    }
    #site-navigation {
      padding-top: 12px;
      @media screen and (max-width: 991px) {
        padding-top: 0;
      }
      #main-nav {
        .menu-item {
          padding-buttom: 10px;
        }
      }
    }
    .buttons {
      margin: 19px 0;
    }
  }
  #search-header-bar {
    display: none;
    background: $gray-97;
    height: 45px;
    form {
      display: block;
      width: 100%;
      height: 100%;
      input {
        display: block;
        width: 100%;
        height: 45px;
        @include font-2-regular;
        color: fade($main-text, 85%);
        text-transform: uppercase;
      }
      button {
        position: absolute;
        right: 15px;
        top: 0px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 15px;
        color: $main-color;
      }
    }
  }
  .site-branding {
    .logo {
      background: url("../img/lh_logo.png") no-repeat;
      width: 30px;
      height: 40px;
      background-size: contain;
    }
    div {
      float: left;
    }
    a {
      display: block;
      font-size: 20px;
      line-height: 36px;
      padding: 25px 0;
      @include font-1-bold;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      span {
        color: white;
        margin-left: 20px;
        float: left;
        line-height: 40px;
      }
      @media screen and (max-width: 991px) {
        span {
          margin-left: 10px;
        }
      }
    }
  }
  #site-navigation {
    padding-top: 36px;
    #main-menu {
      float: right;
      .menu-item {
        display: inline-block;
        position: relative;
        padding: 0 25px 36px;
        &:hover {
          @media screen and (min-width: 991px) {
            border-bottom: 4px solid white;
            margin-bottom: -4px;
          }
          background: $main-color;
          a {
            color: white;
          }
        }
        &:last-child {
          //padding-right: 0;
        }
        @media screen and (max-width: 1200px) {
          padding: 0 10px 33px;
        }
        & > a {
          padding: 0 0 6px;
          position: relative;
          font-size: 14px;
          text-transform: uppercase;
          @include font-1-medium;
          line-height: 16px;
          color: white;
          &::before {
            position: absolute;
            display: block;
            content: "";
            width: 0;
            height: 3px;
            right: 0;
            bottom: 0;
            background: $main-color;
            transition: width 0.2s ease-in-out;
          }
        }
        &.active,
        &:hover,
        &:focus {
          & > a {
            //color: $main-text;
            &::before {
              width: 18px;
            }
          }
        }
        .sub-menu {
          display: none;
          position: absolute;
          top: 60px;
          width: 250px;
          left: 0;
          background: $main-color;
          padding: 15px 0;
          @media screen and (max-width: 1200px) {
            top: 57px;
          }
          .sub-menu-item {
            height: 45px;
            position: relative;
            a {
              display: block;
              @include font-1-medium;
              text-transform: uppercase;
              line-height: 45px;
              color: $white;
              padding: 0 25px;
              &:hover {
                background: fade($black, 10%);
              }
            }
          }
          &.open {
            display: block;
          }
        }
      }
    }
  }
  .buttons {
    margin: 29px 0;
    float: right;
    button {
      float: left;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid $main-color;
      font-size: 15px;
      line-height: 15px;
      text-align: center;
      color: white;
      transition: all 0.23s ease-in-out;
      &:hover,
      &.selected {
        color: $main-color;
        background: white;
      }
    }
    button#search-button {
    }
    button#menu-toggle {
      margin-right: 15px;
      display: none;
    }
  }
  @media screen and (max-width: 991px) {
    .site-branding {
      a {
        padding: 20px 0;
      }
    }

    #site-navigation {
      padding: 0;
      position: absolute;
      right: 0;
      top: 85px;
      width: 210px;
      background: $white;
      box-shadow: 0px 0px 6px 0px fade($black, 10%);
      display: none;
      &.open {
        display: block;
      }
      #main-menu {
        float: none;
        display: block;
        .menu-item {
          padding: 0;
          display: block;
          position: relative;
          & > a {
            display: block;
            padding: 10px 15px;
            border-bottom: 1px solid $gray-87;
            color: $main-color;
            &::before {
              display: none;
            }
          }
          &:last-child {
            & > a {
              border-bottom: 0;
            }
          }
          &:hover,
          &:focus,
          &.active {
            a {
              border-bottom: 1px solid $main-color;
            }
          }
          .sub-menu {
            position: static;
            padding: 0;
          }
        }
      }
    }

    .buttons {
      margin: 24px 0;
      button#menu-toggle {
        display: block;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .site-branding {
      .logo {
        width: 30px;
        height: 40px;
      }
      a {
        padding: 17px 15px;
      }
    }

    #site-navigation {
      padding: 0;
      position: absolute;
      right: 0;
      top: 76px;
      width: 210px;
      background: $white;
      box-shadow: 0px 0px 6px 0px fade($black, 10%);
      display: none;
      &.open {
        display: block;
      }
      #main-menu {
        float: none;
        display: block;
        .menu-item {
          padding: 0;
          display: block;
          position: relative;
          & > a {
            display: block;
            padding: 10px 15px;
            border-bottom: 1px solid $gray-87;
            color: $main-color;
            &::before {
              display: none;
            }
          }
          &:last-child {
            & > a {
              border-bottom: 0;
            }
          }
          &:hover,
          &:focus,
          &.active {
            a {
              border-bottom: 1px solid $main-color;
            }
          }
          .sub-menu {
            position: static;
            padding: 0;
          }
        }
      }
    }

    .buttons {
      margin: 15px 0;
      button#menu-toggle {
        display: block;
      }
    }
  }
}

/* 3.0 - Main Slider*/
#main-slider {
  background: $white;
  .slotholder:after {
    content: "";
    position: absolute;
    right: 60px;
    bottom: 60px;
    pointer-events: none;
    width: 0;
    height: 0;
    opacity: 0.8;
    border-bottom: 240px solid $main-color;
    border-left: 230px solid transparent;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .tparrows {
    background: none;
    border-radius: 50%;
    border: 2px solid $white;
    width: 48px;
    height: 48px;
    transition: all 0.2s ease;
    &::before {
      font-weight: bold;
      font-size: 18px;
      line-height: 46px;
      transition: all 0.2s ease;
    }
    &:hover,
    &:focus {
      background: $white;
      &::before {
        color: $main-color;
      }
    }
  }
  .slider-line {
    width: 36px;
    height: 6px;
    background: $main-color;
  }
  .big-caption {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 72px;
    @include font-1-bold;
    color: $main-text;
    span {
      color: $main-color;
    }
  }
  .slider-button {
    border: 3px solid $main-text;
    height: 45px;
    line-height: 43px;
    padding: 0 32px;
    text-transform: uppercase;
    @include font-1-bold;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background: $main-text;
      color: $white;
    }
  }
}

/* 4.0 - Features*/
.features-wrapper {
  padding: 96px 0;
  background: $white;
  .features {
    padding-top: 70px;
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 51px;
    .features {
      .feature {
        margin-bottom: 45px;
      }
    }
  }
}

.features-three-wrapper {
  padding: 96px 0;
  background: $white;
  .features-col {
    padding-top: 100px;
    &.left {
      padding-right: 25px;
    }
    &.right {
      padding-left: 25px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .features-col {
      padding-top: 0;
    }

    .img-wrapper {
      padding-top: 120px;
    }
  }
  @media screen and (max-width: 768px) {
    .feature-col {
      padding-top: 0;
    }

    .img-wrapper {
      width: 100%;
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }
}

/* 5.0 - Featured Article */
.featured-article-wrapper {
  padding: 96px 0;
  position: relative;
  @media screen and (max-width: 991px) {
    img {
      margin-bottom: 25px;
    }
  }
  &.second-style {
    background: $white;
  }
  &.sermon {
    background: white;
    padding: 0 0 50px 0;
    &.current {
      background: $gray-97;
      padding: 50px 0;
      .sermon-img-wrapper {
        .sermon-img {
          opacity: 1;
        }
      }
      .container {
        .info-block {
          padding-top: 0;
          padding-bottom: 0;
          p {
            color: $main-text;
          }
        }
      }
    }
    .sermon-img-wrapper {
      background: black;
      .sermon-img {
        height: 275px;
        background-size: cover;
        background-position: center;
        opacity: 0.6;
      }
    }
    .play-btn {
      &:after {
        cursor: pointer;
        font-family: "icomoon" !important;
        content: "\ed89";
        position: absolute;
        text-align: center;
        height: 100px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-size: 72px;
        color: white;
      }
    }
    img {
      opacity: 0.6;
      &.resources {
        opacity: 1;
        &.left {
          margin-right: 15px;
        }
      }
    }
    .container {
      background: $gray-97;
      padding-left: 0;
      .info-block {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    @media screen and (max-width: 991px) {
      &.current {
        .container {
          background: $gray-97;
          .info-block {
            margin-top: 25px;
          }
        }
      }

      .container {
        padding: 0 15px;
        background: white;
      }
    }
  }
  &.third-style {
    background: black;
    .bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background-size: cover;
      background-position: center center;
    }
    .info-block {
      color: white;
      h3,
      h2,
      .btn,
      p {
        color: white;
      }
      .btn {
        border-color: white;
      }
    }
  }
  .info-block {
    ol,
    ul {
      margin-top: 0;
    }
    h3 {
      text-transform: uppercase;
      color: $main-color;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .colored-line {
      width: 30px;
      height: 6px;
      background: $main-color;
      margin: 15px 0 20px;
    }
    h2 {
      text-transform: uppercase;
      color: $main-text;
      width: 95%;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
      span {
        color: $main-color;
      }
    }
    p {
      color: $gray-60;
    }
    p.highlight {
      font-weight: 700;
      font-style: italic;
      margin-bottom: 25px;
    }
    .btn {
      margin: 40px 0;
      background: none;
      border: 4px solid $main-color;
      color: $main-color;
      line-height: 40px;
      width: 300px;
      text-align: center;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .img-wrapper {
    position: relative;
    img {
      position: relative;
      z-index: 10;
      top: 30px;
      @media screen and (max-width: 991px) {
        width: 95%;
        right: 30px;
        margin-left: 30px;
      }
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      right: 0;
      z-index: 1;
      border-top: 290px solid $main-color;
      border-left: 370px solid transparent;
    }
    @media screen and (max-width: 991px) {
      margin-top: 45px;
    }
    @media screen and (max-width: 400px) {
      &::after {
        border-top: 190px solid $main-color;
        border-left: 270px solid transparent;
      }
    }
  }
}

/* 6.0 - Portfolio */
.portfolio-wrapper {
  padding: 96px 0 96px;
  background: $white;
  &.portfolio-page {
    .portfolio {
      padding: 0;
    }
  }
  &.style-two {
    background: $gray-97;
  }
  .portfolio {
    padding-top: 60px;
    .fam-filterable {
      padding-top: 30px;
      @media screen and (max-width: 600px) {
        .item {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    p {
      color: $main-text;
      margin: 0 auto 20px;
    }
    img {
      margin-bottom: 25px;
      display: block;
      max-width: 100%;
      height: auto;
    }
    ol {
      li {
        padding-left: 5px;
      }
    }
    ul {
      list-style-type: circle;
      li {
        list-style: initial;
      }
    }
    ul,
    ol {
      color: $main-text;
      margin: -15px 0 25px 0;
      padding-left: 50px;
      font-size: 16px;
      li {
        .num {
          min-width: 20px;
          display: inline-block;
        }
      }
      &.nav-tabs {
        padding-left: 0;
      }
    }
    ul.nav-tabs {
      text-align: center;
      border: none;
      text-transform: uppercase;
      margin-bottom: 40px;
      li {
        float: none;
        display: inline-block;
        &.active {
          & > a {
            border: 4px solid $main-color;
            border-radius: 48px;
            color: $main-color;
            padding: 11px 27px;
          }
        }
        & > a {
          color: $main-text;
          font-weight: 700;
          font-size: 14px;
          padding: 14px 30px;
          &:hover {
            border: 4px solid $main-color;
            border-radius: 48px;
            color: $main-color;
            background: none;
            padding: 11px 27px;
          }
        }
      }
    }

    ul.nav-tabs.cg {
      li {
        min-width: 200px;
      }
    }
    .cg {
      text-align: left;
      .col-md-6 {
        padding-right: 100px;
      }
      @media screen and (max-width: 991px) {
        .col-md-6 {
          padding-right: 15px;
        }
      }
      .cg-head {
        line-height: 26px;
        margin-bottom: 15px;
      }

      img {
        margin-bottom: 15px;
      }
      .name {
        font-weight: 700;
        text-transform: uppercase;
      }
      .meeting-time {
        margin-top: 35px;
      }
      @media screen and (max-width: 991px) {
        .meeting-time {
          margin-bottom: 60px;
        }
      }
      .cg-time-icon {
        float: left;
        font-size: 54px;
      }
      .cg-time {
        float: left;
        margin-top: 15px;
        line-height: 20px;
        margin-left: 15px;
      }
    }
  }
  .btn-wrapper {
    padding-top: 30px;
  }
  .pagination-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}

/* 7.0 - services*/
.services-wrapper {
  padding: 96px 0;
  background: $gray-97;
  &.style-two {
    background: $white;
  }
  .services {
    padding-top: 90px;
  }
  .services-col {
    &.space-top {
      padding-top: 47px;
    }
    @media screen and (max-width: 768px) {
      &.space-top {
        padding-top: 0;
      }
    }
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

/* 8.0 - Fun Facts*/
.fun-facts-wrapper {
  padding: 86px 0;
  background: $main-color;
  @media screen and (max-width: 991px) {
    padding-bottom: 21px;
  }
  &.second-style {
    padding: 0;
    background: $white;
    .boxed {
      padding: 96px 0;
      border-top: 1px solid $gray-87;
    }
  }
}

/* 9.0 - Team*/
.team-wrapper {
  padding: 96px 0;
  .team-members {
    padding-top: 70px;
  }
  @media screen and (max-width: 991px) {
    padding: 96px 0 66px;
  }
}

/* 10.0 - Teaser */
.teaser-wrapper {
  .img-wrapper {
    padding: 0;
    overflow: hidden;
  }
  .content {
    background: $gray-97;
    padding: 96px 0px 52px 73px;
  }
  @media screen and (min-width: 1170) and (max-width: 1200px) {
    .content {
      padding: 76px 0 76px 45px;
    }
  }
  @media screen and (max-width: 1170px) {
    .content {
      padding: 74px 0 74px 25px;
      .feature-four {
        margin-bottom: 40px;
        p {
          width: 83%;
        }
      }
    }
  }
}

.teaser-wrapper.style-two {
  background: url(http://placehold.it/1920x1100) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 96px 0 66px;
  .container {
    position: relative;
    z-index: 10;
  }
  .features {
    .feature-four {
      p {
        width: 85%;
      }
    }
  }
}

/* 11.0 - Testimonial */
.testimonials-wrapper {
  padding: 96px 0;
  background: $white;
  &.style-two {
    background: $gray-97;
    .qoute-icon {
      border-right: 192px solid $main-color;
      color: $white;
    }
  }
  #fam-testimonials {
    padding: 72px 0 72px;
    .testimonial {
      img {
        display: inline-block;
        width: auto;
        float: left;
        margin-right: 48px;
        margin-bottom: 35px;
        border: 8px solid $main-color;
      }
      .info-block {
        float: left;
        width: 75%;
        @media screen and (max-width: 1200px) {
          width: 65%;
        }
      }
      h1 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 20px;
      }
      p {
        color: $gray-60;
        font-style: italic;
        margin-bottom: 37px;
        width: 89%;
      }

      h4 {
        @include font-1-bold;
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 12px;
      }
      h5 {
        color: $main-color;
      }
    }
    .owl-controls {
      position: relative;
      .owl-nav {
        position: absolute;
        display: inline-block;
        left: 24%;
        top: 30px;
        @media screen and (max-width: 1200px) {
          left: 50%;
          margin-left: -54px;
        }
        .owl-prev,
        .owl-next {
          display: inline-block;
          width: 42px;
          height: 42px;
          margin-right: 12px;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          font-size: 24px;
          border: 1px solid $main-color;
          color: $main-color;
          transition: background 0.3s ease, color 0.2s ease;
          &:hover,
          &.focus {
            background: $main-color;
            color: $white;
          }
        }
      }
    }
  }
  .qoute-icon {
    position: relative;
    z-index: 9998;
    margin-top: -192px;
    float: right;
    border-right: 192px solid $gray-97;
    border-top: 192px solid transparent;
    font-size: 60px;
    text-align: center;
    color: $main-color;
    i {
      position: absolute;
      top: -80px;
      left: 100px;
      transform: scaleX(-1);
    }
  }
  @media screen and (max-width: 700px) {
    #fam-testimonials {
      .testimonial {
        .info-block {
          width: 100%;
        }
        p {
          width: 100%;
        }
      }
    }

    .qoute-icon {
      display: none;
    }
  }
}

/* 12.0 - Partners */
.partners-wrapper {
  position: relative;
  padding: 96px 0;
  background: url(../img/random/img-6.jpg) center center no-repeat;
  background-size: conver;
  background-attachment: fixed;
  &.style-two {
    background: $white;
    .partners {
      .partner {
        border-right: 1px solid $gray-95;
        &.top {
          border-bottom: 1px solid $gray-95;
        }
        @media screen and (max-width: 760px) {
          &.last {
            border-right: 1px solid $gray-95;
          }

          &.top {
            border-top: 1px solid $gray-95;
          }

          &.bottom {
            border-bottom: 1px solid $gray-95;
          }
        }
      }
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .partners {
    padding-top: 72px;
    .partner {
      display: block;
      float: left;
      padding: 0 47px;
      border-right: 1px solid fade($white, 55%);

      &.top {
        padding-bottom: 49px;
        border-bottom: 1px solid fade($white, 55%);
      }
      &.last {
        border-right: none;
      }
      &.bottom {
        padding-top: 49px;
      }
      @media screen and (max-width: 981px) {
        padding: 0 19px;
      }
      @media screen and (max-width: 760px) {
        width: 50%;
        text-align: center;
        padding: 35px;
        border-left: 1px solid fade($white, 55%);
        &.last {
          border-right: 1px solid fade($white, 55%);
        }

        &.top {
          border-top: 1px solid fade($white, 55%);
        }

        &.bottom {
          border-bottom: 1px solid fade($white, 55%);
        }
      }
      @media screen and (max-width: 425px) {
        width: 100%;
        // padding: 0;
      }
    }
  }
}

/* 13.0 - Blog */
.blog-wrapper {
  padding: 96px 0;
  background: $gray-97;
  .posts-list {
    padding-top: 72px;
  }
  .btn-wrapper {
    padding-top: 60px;
  }
  @media screen and (max-width: 991px) {
    .btn-wrapper {
      padding-top: 30px;
    }
  }
  @media screen and (max-width: 700px) {
    .large-xs {
      width: 100%;
    }
  }
}

/* 14.0 - Contact */
.contact-wrapper {
  padding: 96px 0;
  background: $main-color;
  color: white;
  .contact-details {
    padding: 50px 0 0 0;
  }
  .section-title h2 {
    text-transform: uppercase;
    color: white;
  }
}

/* 15.0 - Footer */
.site-footer {
  padding: 40px 0;
  background: $gray-97;
  .footer-widget {
    .widget-title {
      @include font-1-bold;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p {
      color: $gray-73;
      margin-bottom: 23px;
    }
    @media screen and (max-width: 991px) {
      margin-bottom: 40px;
    }
  }
  #fam-insta {
    li {
      width: 75px;
      height: 75px;
      display: block;
      float: left;
      margin: 0 0 10px 10px;
      border: 3px solid $gray-95;
      overflow: hidden;
      background: $main-text;
      a {
        display: block;
        position: relative;
      }
      .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: fade($black, 25%);
        font-size: 17px;
        line-height: 69px;
        color: $white;
        transition: opacity 0.3s ease;
        i {
          display: inline-block;
          opacity: 1;
          width: 45px;
          height: 45px;
          border-radius: 4px;
          line-height: 45px;
          background: $main-color;
          transform: translateY(-75px);
          transition: opacity 0.3s ease, transform 0.2s ease;
        }
      }
      a:hover {
        .overlay {
          opacity: 1;
          i {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
  .site-info {
    .social-media {
      li {
        display: inline-block;
        margin-left: 35px;
        float: right;
        @media screen and (max-width: 1200px) {
          margin-left: 25px;
        }
        @media screen and (min-width: 768px) and (max-width: 911px) {
          margin-left: 8px;
        }
        a {
          color: $main-text;
          transition: all 0.2s ease;
          @include font-2-regular;
          font-size: 24px;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
    p {
      text-transform: uppercase;
      float: left;
      font-size: 14px;
      color: $main-text;
      line-height: 34px;
      font-weight: 700;
      span {
        font-weight: bold;
      }
      @media screen and (max-width: 768px) {
        margin-top: 20px;
        float: none;
      }
    }
  }
}

/* 16.0 Skills Wrapper*/
.skills-wrapper {
  padding: 96px 0;
  background: $gray-97;
  .content {
    padding-top: 72px;
  }
  .info-block {
    p {
      color: $main-text;
      &:first-child {
        margin-bottom: 34px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .info-block {
      margin-bottom: 45px;
    }
  }
}

/* 17.0 - Big CTA */
.big-cta-wrapper {
  padding: 120px 0;
  background-size: cover;
  background: url(http://placehold.it/1920x1100) center center no-repeat;
  background-attachment: fixed;
  h2 {
    font-size: 36px;
    color: $white;
    line-height: 48px;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: $white;
    margin: 35px 0 60px;
  }
}

/* 18.0 - Feature Style Two */
.features-two-wrapper {
  padding: 96px 0 76px;
}

/* 19.0 - Video Section */
.video-section-wrapper {
  padding: 110px 0;
  position: relative;
  background: url(http://placehold.it/1920x1100) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  .container {
    position: relative;
    z-index: 10;
  }
  h2,
  h3 {
    text-transform: uppercase;
    color: $white;
  }
  h2 {
    font-size: 36px;
  }
  .icon {
    display: inline-block;
    position: relative;
    margin: 55px auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid $white;
    text-align: center;
    line-height: 92px;
    font-size: 40px;
    color: $white;
    transition: color 0.2s ease-in-out, border 0.2s ease;
    i {
      position: relative;
      z-index: 10;
    }
    &::after {
      display: block;
      position: absolute;
      z-index: 1;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background: $white;
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      color: $main-color;
      border: 3px solid $main-color;
      &::after {
        transform: scale(1);
      }
    }
  }
}

/* 20.0 -CTA Normal*/
.cta-wrapper {
  background: $main-color;
  padding: 50px 0;
  h2,
  p {
    color: $white;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  p {
    font-size: 18px;
  }
  .btn-wrapper {
    padding-top: 5px;
    text-align: right;
  }
  @media screen and (max-width: 760px) {
    .btn-wrapper {
      padding-top: 30px;
      text-align: left;
    }
  }
}

/* 21.0 - Pricing */
.pricing-wrapper {
  padding: 96px 0;
  background: $white;
  .pricing-tables {
    padding-top: 72px;
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 66px;
  }
}

/* 22.0 - Portfolio Single*/
.portfolio-single-wrapper {
  padding: 96px 0;
  background: $white;

  .info-block {
    padding: 40px 0 60px;
    .description {
      h2 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 30px;
      }

      h4 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 25px;
      }
      p {
        color: $gray-60;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .details {
      padding-top: 55px;
      h4 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 25px;
      }
      ul {
        li {
          @include font-2-regular;
          font-size: 16px;
          margin-bottom: 15px;
          color: $gray-60;
          span {
            @include font-1-bold;
            text-transform: uppercase;
            color: $main-text;
            font-size: 14px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .social-media {
    padding-top: 20px;
    span {
      @include font-1-bold;
      color: $main-text;
      font-size: 14px;
      margin-right: 15px;
      text-transform: uppercase;
    }
    a {
      display: inline-block;
      margin-right: 5px;
      padding: 5px;
      font-size: 18px;
      color: $gray-60;
      transition: all 0.2s ease;
      &:hover {
        color: $main-color;
      }
    }
  }
  .similar-projects {
    h3 {
      text-transform: uppercase;
      color: $main-text;
      margin-bottom: 30px;
    }
  }
  .simple-links {
    padding-top: 20px;
  }
}

/* 23.0 - Sidebar*/
.sidebar {
  .sidebar-widget {
    position: relative;
    display: block;
    margin-bottom: 45px;
  }
  .widget-title {
    text-transform: uppercase;
    color: $main-text;
    margin-bottom: 25px;
    i {
      color: $main-color;
      margin-right: 5px;
    }
  }
  .search-bar {
    position: relative;
    form {
      position: relative;
      display: block;
      width: 100%;
      .field {
        display: block;
        width: 100%;
        position: relative;
        height: 48px;
        input {
          display: block;
          width: 100%;
          height: 100%;
          border: 1px solid $gray-87;
          padding: 0 65px 0 18px;
          @include font-2-regular;
          font-size: 16px;
          color: $main-text;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
          background: none;
          width: 55px;
          height: 48px;
          line-height: 45px;
          color: $main-text;
          background: $white;
          text-align: center;
          border: 1px solid $gray-87;
          transition: color 0.2s ease, background 0.3s ease, border 0.1s ease;
          &:hover {
            border: 1px solid transparent;
            color: $white;
            background: $main-color;
          }
        }
      }
    }
  }
  .advertise-space {
    position: relative;
    padding: 45px 55px 25px;
    background: url(http://placehold.it/360x390) center center no-repeat;
    background-size: cover;
    color: $white;
    text-align: center;
    .content {
      position: relative;
      z-index: 10;
    }
    .overlay {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: fade($black, 45%);
    }
    h2 {
      text-transform: uppercase;
    }
    i.main {
      display: block;
      width: 42px;
      height: 42px;
      margin: 45px auto;
      text-align: center;
      line-height: 42px;
      font-size: 28px;
      border-radius: 50%;
      border: 3px solid $white;
    }
    h3 {
      @include font-2-bold;
      margin-bottom: 100px;
    }
    p {
      @include font-1-medium;
      i {
        margin-right: 8px;
      }
    }
  }
  .sidebar-img-overlay {
    display: block;
    position: relative;
    .overlay {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      transform: scale(0);
      transition: all 0.3s ease;
      i {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 4px;
        transform: scale(0);
        transition: all 0.3s ease;
      }
    }
    &:hover {
      .overlay {
        transform: scale(1);
        i {
          transform: scale(1);
        }
      }
    }
  }
  .recent-post {
    margin-bottom: 20px;
    overflow: hidden;
    .img-wrapper {
      float: left;
      margin-right: 15px;
      position: relative;
      margin-bottom: 5px;
      .overlay {
        line-height: 70px;
        background: fade($black, 45%);
        i {
          color: $main-color;
          background: $white;
        }
      }
    }
    h4 {
      text-transform: uppercase;
      line-height: 22px;
      font-size: 13px;
      color: $main-text;
    }
    h5 {
      margin-top: 10px;
      @include font-2-regular;
      color: $main-color;
    }
    &:hover {
      .img-wrapper {
        .overlay {
          transform: scale(1);
          i {
            transform: scale(1);
          }
        }
      }
    }
  }
  ul.categories {
    li {
      margin-bottom: 7px;
      a {
        display: inline-block;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 14px;
        @include font-1-bold;
        text-transform: uppercase;
        color: $main-text;
        transition: all 0.2s ease;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  ul.tags {
    li {
      display: inline-block;
      margin: 0 6px 6px 0;
      a {
        display: inline-block;
        overflow: hidden;
        height: 45px;
        line-height: 45px;
        padding: 0 25px;
        border: 1px solid $gray-87;
        color: $gray-60;
        position: relative;
        font-size: 14px;
        transition: color 0.2s ease;
        span {
          position: relative;
          z-index: 10;
        }
        &::after {
          position: absolute;
          content: "";
          width: 0%;
          height: 100px;
          top: 0;
          left: 0;
          z-index: 1;
          background: $main-color;
          transition: width 0.3s ease;
        }
        &:hover {
          color: $white;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .text-box {
    p {
      color: $gray-60;
      margin-bottom: 25px;
    }
    a {
      @include font-1-bold;
      text-transform: uppercase;
      color: $main-color;
      font-size: 14px;
    }
  }
  #fam-insta-sidebar {
    li {
      display: block;
      float: left;
      position: relative;
      width: 82px;
      height: 82px;
      line-height: 82px;
      margin-right: 5px;
      margin-bottom: 5px;
      .overlay {
        background: fade($main-color, 80%);
        i {
          background: $white;
          color: $main-text;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    margin-top: 96px;
  }
}

/* 24.0 - Blog Page */
.blog-page-wrapper {
  padding: 96px 0;
  background: $white;
  .posts-list {
    .blog-post {
      background: $gray-97;
      margin-bottom: 45px;
      .info-block {
        padding: 40px 30px;
        position: relative;
      }
      .category {
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: 20px;
      }
      h2 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 25px;
        line-height: 32px;
        transition: all 0.3s ease;
        &:hover {
          color: $main-color;
        }
      }
      p {
        color: $gray-60;
        margin-bottom: 35px;
      }
      .meta {
        &.two {
          margin-bottom: 30px;
        }
        h5,
        .sep {
          @include font-1-bold;
          color: $main-color;
          display: inline-block;
        }
        h5.icon {
          margin-right: 25px;
          i {
            color: $main-text;
            margin-right: 10px;
          }
        }
        .sep {
          @include font-1-medium;
          margin: 0 12px;
          font-size: 12px;
        }
      }
      .btn-more {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        border-right: 96px solid $main-color;
        border-top: 96px solid transparent;
        i {
          position: absolute;
          font-size: 36px;
          color: $white;
          top: -45px;
          left: 48px;
          transition: all 0.3s ease;
        }
        &:hover {
          i {
            left: 53px;
          }
        }
      }
      blockquote {
        padding: 15px 35px 30px;
        i {
          float: left;
          margin-right: 15px;
          margin-top: -15px;
          margin-bottom: 35px;
          font-size: 30px;
          color: $main-color;
        }
        p {
          color: $gray-60;
          font-style: italic;
          margin-bottom: 0;
        }
      }
      .post-footer {
        .social-media,
        .tags {
          padding-top: 20px;
          span {
            @include font-1-bold;
            color: $main-text;
            font-size: 14px;
            margin-right: 15px;
            text-transform: uppercase;
          }
          a {
            display: inline-block;
            margin-right: 5px;
            padding: 5px;
            @include font-2-bold;
            font-size: 14px;
            color: $gray-60;
            transition: all 0.2s ease;
            span {
              margin: 0;
              color: $gray-60;
            }
            &:hover {
              color: $main-color;
            }
          }
        }
        .social-media {
          float: left;
        }
        .tags {
          float: right;
          a {
            padding: 0px;
            margin: 2px;
          }
        }
      }
    }
    .blog-post.list-style {
      .info-block {
        float: left;
        width: 55%;
        padding: 35px 30px 36px;
      }
      .img-wrapper {
        float: left;
        //width: 45%;
      }
      @media screen and (max-width: 650px) {
        .info-block,
        .img-wrapper {
          width: 100%;
        }
      }
    }
    .about-author {
      padding-top: 30px;
      img {
        float: left;
        margin-right: 30px;
      }
      .info-block {
        float: left;
        width: 72%;
      }
      .info {
        display: block;
        margin-bottom: 25px;
        .name {
          float: left;
          h3 {
            text-transform: uppercase;
            color: $main-text;
            margin-bottom: 7px;
          }
          h5 {
            @include font-2-regular;
            color: $main-color;
          }
        }
        .social-media {
          float: right;
          a {
            display: inline-block;
            width: 42px;
            height: 42px;
            font-size: 18px;
            line-height: 38px;
            margin-right: 3px;
            text-align: center;
            color: $main-color;
            border-radius: 50%;
            border: 2px solid $main-color;
            transition: all 0.3s ease;
            &:hover {
              color: $white;
              background: $main-color;
            }
          }
        }
      }
      p {
        color: $gray-60;
      }
      @media screen and (max-width: 670px) {
        .info-block {
          width: 55%;
        }

        .info {
          .name {
            float: none;
          }
          .social-media {
            margin-top: 25px;
            float: none;
          }
        }
      }
      @media screen and (max-width: 450px) {
        .info-block {
          margin-top: 30px;
          width: 100%;
        }
      }
    }
    .comments-wrapper {
      background: $gray-97;
      margin-top: 60px;
      padding: 40px 30px 10px;
      h2 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 45px;
      }
      .comments {
        .comment {
          overflow: hidden;
          position: relative;
          margin-bottom: 40px;
          img {
            float: left;
            margin-right: 25px;
            margin-bottom: 30px;
            width: 96px;
            height: 96px;
          }
          .name {
            margin-bottom: 20px;
            h5 {
              @include font-1-bold;
              text-transform: uppercase;
              color: $main-text;
              margin-bottom: 10px;
            }
            p {
              font-size: 14px;
              line-height: 14px;
              color: $main-color;
            }
          }
          a {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            @include font-2-bold;
            font-size: 16px;
            color: $main-color;
          }
          p {
            color: $gray-60;
          }
          &.replay {
            padding-left: 116px;
          }
          @media screen and (max-width: 768px) {
            a {
              right: 25px;
            }

            &.replay {
              padding: 10px 25px;
              background: $gray-95;
              a {
                top: 5px;
              }
            }
          }
          @media screen and (max-width: 450px) {
            a {
              position: relative;
              left: 0;
              margin-bottom: 25px;
            }

            img {
              float: none;
            }
          }
        }
      }
    }
    .comment-form-wrapper {
      margin-top: 60px;
      h2 {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 45px;
      }
    }
    .pagination-wrapper {
      padding-top: 10px;
      text-align: center;
    }
  }
}

/* 25.0 - Contact Page*/
.contact-page-wrapper {
  padding: 96px 0;
  background: $white;
  .contact-details {
    padding: 96px 0;
    .section-title {
      padding-bottom: 72px;
    }
  }
}

.main-hero {
  height: 600px;
  width: 100%;
  background: black;
  .hero {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    visibility: inherit;
    z-index: 20;
    background-image: url("../img/hero.jpg");
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &.full-opacity {
      opacity: 1;
    }
  }
  .info-wrapper {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    h2 {
      margin-bottom: 15px;
    }
    a {
      color: white;
      font-weight: 700;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }
    .info {
      text-align: center;
      width: 100%;
      left: 0;
      color: white;
      position: relative;
      img {
        margin-bottom: 35px;
      }
      span {
        font-size: 24px;
        font-weight: 700;
        display: block;
        max-width: 750px;
        margin: auto;
        padding: 0 30px;
      }
      @media (max-width: 768px) {
        span {
          font-size: 18px;
        }
      }
      @media (max-width: 320px) {
        span {
          font-size: 16px;
        }
      }
      .btn {
        background: none;
        color: white;
        border: 4px solid white;
        line-height: 40px;
        margin-top: 45px;
      }
      a {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-hero {
    height: 350px;
    .info-wrapper {
      height: 350px;
    }
  }
}

@media (min-width: 768px) {
  .main-hero {
    height: 531px;
    .info-wrapper {
      height: 531px;
    }
  }
}

@media (min-width: 992px) {
  .main-hero {
    height: 600px;
    .info-wrapper {
      height: 600px;
    }
  }
}

.hero-footer {
  background: #004174;
  // position: absolute;
  width: 100%;
  // bottom: -15px;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 19px 0;
  .btn {
    background: none;
    border: 4px solid white;
    width: auto;
    color: white;
  }
  .service-time {
    display: inline-block;
    margin-right: 55px;
    span {
      text-transform: uppercase;
      font-weight: 700;
    }
    .info {
      font-size: 14px;
      font-weight: 400;
    }
  }
  @media (max-width: 768px) {
    .service-time {
      display: block;
      font-size: 16px;
      margin: 0 0 15px 0;
    }
  }
  &.alert-header {
    font-weight: 400;
    span {
      color: #ff6600;
      font-weight: 700;
      font-size: 18px;
      text-transform: none;
    }
    //background: #ff6600;
    font-size: 14px;
    padding: 15px;
    .service-time {
      font-size: 14px;
      margin: 0;
    }
    @media (max-width: 768px) {
      .service-time {
        display: block;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}

.bg-img {
  background: $main-dark;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-size: cover;
}

.sermons-wrapper {
  padding: 50px 0;
  background: white;
  .sermon-img-wrapper {
    .sermon-img.resources {
      opacity: 1;
    }
  }
  .easyPaginateList {
    .sermon-img-wrapper {
      display: block;
    }
  }
}

.blurb {
  margin: 40px 0 !important;
}

.meet-pastor {
  &.info-block {
    p {
      color: $main-text;
      margin-bottom: 20px;
    }
  }
}

.questions {
  margin: 96px 0;
  h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
  }
}

.calendar-wrapper {
  .calendar {
    margin: 96px 0;
    .calendar-header {
      color: white;
      background: $main-color;
      padding: 15px 20px;
      .month {
        text-align: center;
        text-transform: uppercase;
        h1 {
          line-height: 40px;
          cursor: pointer;
        }
      }
      .previous-month,
      .next-month {
        a {
          cursor: pointer;
          font-size: 18px;
          color: white;
          padding: 15px;
          i {
            line-height: 40px;
          }
        }
      }
      .previous-month {
        text-align: right;
      }
      .next-month {
        text-align: left;
      }
    }
    .days {
      .day {
        position: relative;
        margin-top: 3px;
        background: $gray-97;
        color: $main-text;
        padding: 15px;
        min-height: 90px;
        .date {
          position: absolute;
          background: $main-color;
          display: inline-block;
          text-align: center;
          width: 70px;
          height: 70px;
          color: white;
          font-size: 14px;
          border-radius: 70px;
          padding-top: 17px;
          text-transform: uppercase;
          top: 50%;
          left: 15px;
          transform: translate(0, -50%);
          .num {
            font-size: 22px;
            margin-top: -8px;
            font-weight: 700;
          }
        }
        ul.events {
          left: 105px;
          display: inline-block;
          font-weight: 700;
          padding-left: 100px;
          text-transform: uppercase;
          width: 100%;
          li {
            clear: both;
            .time {
              padding-right: 15px;
              float: left;
              width: 28%;
              text-align: right;
            }
            .summary {
              display: inline-block;
              float: left;
              width: 72%;
            }
            @media (max-width: 1200px) {
              .time {
                width: 40%;
              }
              .summary {
                width: 60%;
              }
            }
            @media (max-width: 991px) {
              .time {
                width: 100px;
                min-width: 100px;
              }
              .summary {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-control,
.form-control:hover,
.form-control:focus {
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 6px;
  width: 100%;
}

.bg-main {
  background: #fff;
}

.bg-alt {
  background: $gray-97 !important;
}

.day.none {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.reg-form {
  margin: 65px 0;
  h3 {
    margin-bottom: 15px;
  }
}

.form-control {
  height: 38px;
}

.thank-you {
  padding: 96px 0;
}

.events-highlight {
  margin-bottom: 25px;
}

label.error {
  margin-top: 5px;
  color: #cc0000;
}

.easyPaginateNav {
  text-align: right;
  display: inline-block;
  float: right;
  .disabled {
    display: none;
  }
  a,
  a.page {
    float: left;
    display: inline-block;
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: center;
    width: 48px;
    height: 48px;
    color: $main-text;
    font-size: 18px;
    line-height: 36px;
    padding: 5px 10px;
    &:hover,
    &.current {
      border: 4px solid $main-color;
      color: $main-color;
      line-height: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 0 15px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 10px;
    a,
    a.page {
      float: left;
      display: inline-block;
      border: 1px solid #ddd;
      margin-right: 10px;
      text-align: center;
      width: 30px;
      height: 30px;
      color: $main-text;
      font-size: 18px;
      line-height: 20px;
      padding: 5px 5px;
      &:hover,
      &.current {
        border: 4px solid $main-color;
        color: $main-color;
        line-height: 14px;
      }
      &.prev,
      &.next {
        &:hover {
          padding: 2px 2px;
        }
      }
    }
  }
}

.audio-player {
  width: 800px;
  margin: 100px auto;
  position: relative;
  audio {
    width: 100%;
  }
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $main-text;
    opacity: 0.5;
    border: none;
    border-radius: 30px;
    background: white;
    margin: 10px;
    padding: 1px 0 0 1px;
    font-size: 20px;
  }
  @media screen and (max-width: 991px) {
    width: 640px;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.event-page {
  margin: 96px 0;
}

.event-info {
  margin: 96px 0;
  font-size: 20px;
  p {
    font-size: 20px;
  }
  img {
    margin-top: 60px;
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.hero {
  padding: 96px 0;
  img {
    height: 600px;
    margin: auto;
  }
  h1 {
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
  }
}

ul.listing,
ol {
  color: $gray-60;
  margin: -15px 0 25px 0;
  padding-left: 50px;
  font-size: 16px;
  li {
    .num {
      min-width: 20px;
      display: inline-block;
    }
  }
  &.nav-tabs {
    padding-left: 0;
  }
}

.mission-statement {
  position: absolute;
  width: 100%;
  top: 65px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .mission-statement {
    top: 15px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .mission-statement {
    top: 65px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .mission-statement {
    top: 65px;
    font-size: 20px;
  }
}

.sidebar {
  padding: 96px 0;
  h2,
  h3 {
    color: $main-color;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    li {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 5px;
      a {
        color: $gray-60;
        font-weight: 700;
      }
      &.selected {
        a {
          color: $main-text;
        }
      }
    }
  }
}

.features.beliefs {
  .feature-two {
    margin-bottom: 25px;
    .top {
      margin-bottom: 15px;
    }
  }
}

table.times {
  font-size: 16px;
  width: 100%;
}
.times {
  font-size: 16px;
  line-height: 27px;
}

.bio {
  font-size: 16px;
  img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 25px;
    float: left;
  }
  p {
    margin-bottom: 20px;
    clear: left;
  }
  .modal-body {
    min-height: 240px;
  }
}

.announcements {
  margin: 96px 0;
  h2 {
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  ul {
    li {
      h4 {
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      img {
        margin-top: 15px;
      }
      margin-bottom: 45px;
    }
  }
}

ul.reap {
  list-style-type: circle;
  li {
    list-style: initial;
  }
}
ul.reap {
  color: $main-text;
  padding-left: 50px;
  font-size: 16px;
  li {
    .num {
      min-width: 20px;
      display: inline-block;
    }
  }
  &.nav-tabs {
    padding-left: 0;
  }
}
ul.show {
  margin-left: 45px;
  font-size: 16px;
  list-style-type: circle;
  li {
    list-style: initial;
  }
}

#gallery {
  p {
    margin-bottom: 60px;
  }
  .thumb {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    font-size: 32px;
    color: white;
    @media (max-width: 767px) {
      height: 250px;
    }
    i {
      margin: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &.list {
      height: 240px;
      margin-bottom: 15px;
    }
  }
  .thumb-list {
    position: relative;
    float: left;
    width: 100%;
    height: 480px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }
  .team-member {
    margin-bottom: 15px;
  }
}

.serve {
  h3 {
    color: #0073ce;
    text-transform: uppercase;
  }
  .feature-two {
    cursor: default;
    .top {
      h3 {
        color: #0073ce;
      }
    }
  }
  ul {
    li {
      font-size: 16px;
      line-height: 27px;
      margin-left: 45px;
      list-style: disc;
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-content {
  font-size: 16px;
  line-height: 27px;
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: 400;
  p {
    margin-bottom: 15px;
  }
  h1,
  h2,
  h3 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  ol {
    margin: 0;
    padding-left: 15px;
    color: #333;
  }
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.special-letter {
  margin-top: -500px;
  position: relative;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  .read-more {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 5px 0;
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
  }
  .content {
    background: white;
    padding: 40px;
    z-index: 30;
    position: relative;
    &.read {
      max-height: none;
    }
    h1,
    h2,
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    ul,
    ol {
      color: #333;
      padding-left: 10px;
    }
  }
}
#download-the-good-friday-reflection-guide,
#download-the-sermon-guide,
#praise-list,
#online-giving,
#click-here-for-update-from-pastor-kj-3-15,
#click-here-to-join-thursday-prayer-via-zoom-8p,
#lighthouse-kids {
  margin-bottom: 25px;
  font-size: 18px;
  text-decoration: underline;
}

.page {
  p {
    margin-bottom: 15px;
  }
}

.features-wrapper.special {
  h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 15px;
  }
}
