---
layout: default
selected_index: 3
custom_js:
  - jquery.easyPaginate.js
  - sermons.js
---

{% assign currentSeries =
site.data.contentful.spaces.lighthouse.currentSermonSeries[0] %} {% assign
sermons = site.data.contentful.spaces.lighthouse.sermon | sort: 'date' | reverse
%}

<!-- Page Heading -->
<div id="top" class="page-head bg-two">
  <div
    class="bg-img"
    style="background-image: url('/assets/img/sermons-4-min.jpg')"
  ></div>
  <div class="container">
    <h1>Sermons</h1>
  </div>
</div>

<div class="sermons-wrapper container">
  <div id="sermons">
    {% for sermon in sermons %}
    <div class="featured-article-wrapper sermon">
      <div class="container">
        <article class="row">
          <div class="col-md-4">
            <div class="sermon-img-wrapper">
              <div
                class="sermon-img"
                style="background-image: url({{sermon.image.url}}?w=400)"
              ></div>
            </div>
            <a href="{{sermon.sys.id}}"><div class="play-btn"></div></a>
          </div>
          <div class="col-md-8 info-block">
            <h3>{{sermon.date | date: '%B %d, %Y'}} | {{sermon.who}}</h3>
            <h2>{{sermon.title}}</h2>
            <p>{{sermon.description | markdownify}}</p>
          </div>
        </article>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="audioPlayerModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="audio-player">
    <img id="audioPlayerImage" class="img-responsive" />
    <div class="close" data-dismiss="modal"><i class="icon-close"></i></div>
    <audio id="player" controls="controls"></audio>
  </div>
</div>
