---
layout: default
selected_index: 2
---

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url(../assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>Connect at Lighthouse</h1>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="section-title">
            <h2><span>Why</span> Membership Matters</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>"Why do I have to go through the hassle of taking a class and signing a form?" you might ask. Well, here at Lighthouse, we take our Covenant Partnership both seriously and joyfully. Committing to becoming a Covenant Member is like joining a spiritual family. As a family member, you can count on us to be there with and for you, but we also count on you to be there for others through your service to fellow brothers and sisters. Our pastoral staff and leadership team are here to walk with Covenant Partners through different seasons of spiritual journey and life by providing counsel, care, prayer, and teaching.</p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper alt-bg">
    <div class="container">
        <div class="section-title">
            <h2><span>Membership</span> Class</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>We encourage every member to take membership class to help us get to know you and for you to get to know us. The class will help you explore what it means to become a Covenant Partner of Lighthouse and learn the meaning behind our name, our mission, our core values, our process of discipleship, our beliefs, our team, serving opportunites, and our expectation for a Covenant Partner. You will also get to hear about others' faith journey.</p>
                <p><a href="/membership-class">To Register for the next Covenant Partnership Class, click here.</a></p>
                <p>If you have any questions about the class, please contact Jin at <a href="jinkim@lighthousedfw.org">jin@lighthousedfw.org.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="section-title">
            <h2><span>Required</span> Reading</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>Every prospective members are required to read Church Membership by Jonathan Leeman prior to signing Membership Covenant.</p>

                <img src="../assets/img/connect/church_membership_jonathan_leeman.jpg"/>
            </div>
        </div>
    </div>
</div>
