---
layout: default
selected_index: 2
---

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url(../assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>Connect at Lighthouse</h1>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="section-title">
            <h2><span>Following</span> Jesus Christ in and as a Community</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>We believe that two commitments are vital to the spiritual growth of Christ followers: (1) A
                    commitment to God and the Bible. (2) A commitment to significant relationships with others.
                    Community Groups will help develop these significant relationships in the context of an authentic,
                    Christ-centered community.<br/><br/>It is our goal to have every member of our church engage in
                    either a Community Group or another similar small group experience. Typically, most groups are
                    sermon-based with the exception of church-wide curriculum on occasions. Some groups may also choose
                    to focus on special interest or topic for a term.</p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper alt-bg">
    <div class="container">
        <div class="section-title">
            <h2><span>How</span> Do Community Groups Work?</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>Community Groups require a 10-12 week commitment each term, and consists of 10-14 people. At the end
                    of each term, you can choose to continue with the same group, commit to another group, or take a
                    break from community group. The groups meet weekly to share, to study God’s word, and to support one
                    another spiritually. The groups meet for two 10-12 week sessions from 2nd week of September through
                    June, taking a break during Thanksgiving week, Winter, and Summer months. Check out FAQs for more
                    info.</p>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-wrapper">
  <div class="container">
    <p class="text-center">We are excited to resume our Community Groups once all our new and existing Community Group Leaders complete Training to cultivate an authentic Christ-centered community starting in the Spring of 2019.</p><br>
    <p class="text-center"> While the leaders are being equipped, Lighthouse will provide various opportunities and events for our members to connect with one another in a mid-sized or large group environment. </p>
  </div>
</div>

<div class="portfolio-wrapper" style="display: none">
    <div class="container">
        <div class="section-title">
            <h2><span>Meet</span> Our Community Group Leaders</h2>
        </div>
        <div class="nivo-activator"></div>
        <div class="portfolio">
            <ul class="nav nav-tabs cg" role="tablist">
                <li role="presentation" class="active">
                    <a href="#men" aria-controls="men" role="tab" data-toggle="tab">
                        Men
                    </a>
                </li>
                <li role="presentation">
                    <a href="#women" aria-controls="women" role="tab" data-toggle="tab">
                        Women
                    </a>
                </li>
                <li role="presentation">
                    <a href="#mixed" aria-controls="mixed" role="tab" data-toggle="tab">
                        Mixed
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="men">
                    <div class="row cg">
                        <div class="col-md-6">
                            <div class="cg-head">
                                <strong>SINGLE MEN</strong><br/>
                                This community group is led by:
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/robby-yu-min.png"
                                         class="img-responsive">
                                    <div class="name">Robby Yu</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#robby-yu">Read full
                                        bio</a>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/taesung-han-min.jpg"
                                         class="img-responsive">
                                    <div class="name">TaeSung Han</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#taesung-han">Read full
                                        bio</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 meeting-time">
                                    <div class="cg-time-icon">
                                        <i class="icon-Time"></i>
                                    </div>
                                    <div class="cg-time">
                                        <strong>MEETS FRIDAYS AT 7PM</strong><br/>
                                        In Dallas/Plano/Carrollton
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cg-head">
                                <strong>MARRIED MEN</strong><br/>
                                This community group is led by:
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/john-hong-min.png"
                                         class="img-responsive">
                                    <div class="name">John Hong</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#john-hong">Read full
                                        bio</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 meeting-time">
                                    <div class="cg-time-icon">
                                        <i class="icon-Time"></i>
                                    </div>
                                    <div class="cg-time">
                                        <strong>MEETS FRIDAYS AT 7PM</strong><br/>
                                        In Las Colinas/Plano
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="women">
                    <div class="row cg">
                        <div class="col-md-6">
                            <div class="cg-head">
                                <strong>SINGLE WOMEN</strong><br/>
                                This community group is led by:
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/esther-lee-min.jpg"
                                         class="img-responsive">
                                    <div class="name">Esther Lee</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#esther-lee">Read full
                                        bio</a>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/ruth-park-min.png"
                                         class="img-responsive">
                                    <div class="name">Ruth Park</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#ruth-park">Read full
                                        bio</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 meeting-time">
                                    <div class="cg-time-icon">
                                        <i class="icon-Time"></i>
                                    </div>
                                    <div class="cg-time">
                                        <strong>MEETS FRIDAYS AT 7PM</strong><br/>
                                        In Plano/Richardson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cg-head">
                                <strong>MARRIED WOMEN</strong><br/>
                                This community group is led by:
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/lena-oh-min.jpg"
                                         class="img-responsive">
                                    <div class="name">Lena Oh</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#lena-oh">Read full
                                        bio</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 meeting-time">
                                    <div class="cg-time-icon">
                                        <i class="icon-Time"></i>
                                    </div>
                                    <div class="cg-time">
                                        <strong>MEETS FRIDAY NIGHTS</strong><br/>
                                        In Plano
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="mixed">
                    <div class="row cg">
                        <div class="col-md-6">
                            <div class="cg-head">
                                <strong>MIXED</strong><br/>
                                This community group is led by:
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/daniel-clark-min.png"
                                         class="img-responsive">
                                    <div class="name">Daniel Clark</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#daniel-clark">Read
                                        full bio</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 meeting-time">
                                    <div class="cg-time-icon">
                                        <i class="icon-Time"></i>
                                    </div>
                                    <div class="cg-time">
                                        <strong>MEETS FRIDAYS AT 7:30PM</strong><br/>
                                        In Richardson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cg-head">
                                <strong>MIXED</strong><br/>
                                This community group is led by:
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/younghui-tewksbury-min.png"
                                         class="img-responsive">
                                    <div class="name">Younghui Tewksbury</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#younghui-tewksbury">Read
                                        full bio</a>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img src="../assets/img/community-group-leaders/tim-park-min.jpg"
                                         class="img-responsive">
                                    <div class="name">Tim Park</div>
                                    <a class="read-bio" href="" data-toggle="modal" data-target="#tim-park">Read full
                                        bio</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 meeting-time">
                                    <div class="cg-time-icon">
                                        <i class="icon-Time"></i>
                                    </div>
                                    <div class="cg-time">
                                        <strong>MEETS FRIDAY AT 7PM</strong><br/>
                                        In Las Colinas/Forth Worth
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper alt-bg" style="display: none">
    <div class="container">
        <div class="section-title">
            <h2><span>2017-2018</span> Community Group Calendar</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>
                    <strong>FALL Term</strong><br/>
                    Meeting Dates: 9/15-12/9<br/>
                    (No meeting during Thanksgiving Week)
                </p>
                <p>
                    <strong>SPRING Term</strong><br/>
                    Sign-up Dates: 1/7 and 1/14<br/>
                    Meeting Dates: 1/19-5/19
                </p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper alt-bg">
    <div class="container">
        <div class="section-title">
            <h2><span>Have</span> a Question?</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>If you have questions about Community Groups or want to join, please contact <a href="mailto:timothynpark@gmail.com">Timothy Park</a> (deacon, Small Groups & Discipleship).
            </div>
        </div>
    </div>
</div>

<div id="robby-yu" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Robby Yu</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/robby-yu-min.png"/>
                Robby Yu as been serving as a community group leader since fall semester of 2015. You can also find him
                serving diligently in our Saturday prayer meetings and Sunday services on the media team, and has served
                in Sunday school as a bible study teacher. His hobbies consist of watching movies, tv shows (korean
                drama included), sports, kpop, and serving various areas around church.
                <br/>
                <br/>
                He co-leads a Single Men's community group with Joshua Lee, and their group consists of young men who
                encourage each other with prayer and support as they discuss about life and growth in their walks with
                the Lord.
            </div>
        </div>
    </div>
</div>

<div id="tim-park" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Tim Park</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/tim-park-min.jpg"/>
                Tim was born in Korea and moved to US when he was young. He grew up in northern NJ/NY and also spent 5
                years in
                sunny San Diego His work brought him to Dallas and Lighthouse and Gloria, his wife, kept him here since
                2015. He and
                Gloria recently got married in January 2017. Tim is currently serving on Praise Team, Connect & Care
                Team, and
                Community Groups. After getting married recently, he came out of the Single Men’s group to join and
                co-lead the Mixed
                Group with Young Hui. Tim seeks to build an authentic, life-sharing community that is centered on
                Christ. He enjoys
                spending time with his better half, drinking Iced Americanos, and eating! You may occasionally find him
                playing
                basketball or golf depending on the season. Though it was his work that brought him to Dallas, it was
                Lighthouse community and his wife, Gloria, that kept him here.
            </div>
        </div>
    </div>
</div>

<div id="esther-lee" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Esther Lee</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/esther-lee-min.jpg"/>
                Esther is co-leading a Community Group for single women who desire to know Jesus more and encourage &
                challenge one another to be like Christ. She hopes that as each person enters into the presence of God
                and each other’s lives they will be transformed and renewed. She has been attending Lighthouse for 7
                years and also serves on the praise team. She enjoys being outside, hanging out with friends, and taking
                photos.
            </div>
        </div>
    </div>
</div>

<div id="ruth-park" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Ruth Park</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/ruth-park-min.png"/>
                Ruth has been a member of Lifehouse and Binnerri church her entire life! Her parents were married here
                back when it was called Korean Presbyterian Church of Dallas and has since called this place her church
                home. When she's not at work or serving at church, she indulges in her hobbies of cooking and baking as
                well as spending time with her family and friends. She is passionate about the growth and health of the
                local church and looks forward to the many exciting years ahead for Lighthouse! She currently co-leads a
                single women's community group with Eshter Lee.
            </div>
        </div>
    </div>
</div>

<div id="lena-oh" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Lena Oh</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/lena-oh-min.jpg"/>
                Lena has been a member of Lighthouse since January 2016 and most currently serves as a Married Women's
                Community Group leader. She is also involved in teaching bible study class for 4th grade elementary
                children. She is a homemaker, and is a loving wife and mother to her two boys. Her hobbies include
                shopping and hanging out with friends and family. She is currently leading a women's group (co-leading
                with John Hong, who leads the married mens group) consisting of married women coming together to learn
                from each other and build each other up in the love of Christ. The main focus is to love Christ, love
                others, and serve together.
            </div>
        </div>
    </div>
</div>

<div id="daniel-clark" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Daniel Clark</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/daniel-clark-min.png"/>
                Daniel Clark has been a member of our church since 2010. He has served as a bible study teacher for the
                Binnerri Youth Group, was ordained a deacon in 2014, and joined the Lighthouse leadership in 2015. He is
                married with two boys, Scott and Jonathan, and his family resides in Plano. He comes from a Christian
                family with one older brother. He graduated from the University of North Texas with a degree in business
                and currently works in the logistics/transportation field. He co-leads a mixed community group in
                Richardson with Casey and Jieun Malarcher and is excited to welcome new members and grow with the
                seasoned members through Community Groups.
            </div>
        </div>
    </div>
</div>

<div id="younghui-tewksbury" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Younghui Tewksbury</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/younghui-tewksbury-min.png"/>
                Young Hui has been a member of Lighthouse for 4 years, after moving to Texas from New York shortly after
                getting married. Her and her husband, Chris, currently reside in Fort Worth, and enjoy the "scenic"
                drive out to Richardson for corporate worship every Sunday. She has been serving as a Community Group
                leader for 3 years, and is looking forward to growing her group with more married and single members who
                are interested in supporting each other through their journeys in faith. Her hobbies include spending
                time with family and friends and event planning.
            </div>
        </div>
    </div>
</div>

<div id="john-hong" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">John Hong</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/john-hong-min.png"/>
                John has been attending Binnerri for many years, as he grew up in the church. He has been a Community
                Group leader for about five years, serves on the leadership team as the Stewardship leader, and has the
                very important job of bringing bagels to our Saturday morning prayer meetings. His hobbies include golf,
                sports, and family. Him and his wife are proud parents of a beautiful little girl and are expecting a
                baby boy this Fall. He currently works in reporting and analytics. John and Lena co-lead a Married
                Community group that splits into mens and womens meeting times (John leads the Men's community group) to
                accommodate those with families and children.
            </div>
        </div>
    </div>
</div>

<div id="taesung-han" class="modal fade bio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">TaeSung Han</h4>
            </div>
            <div class="modal-body">
                <img src="../assets/img/community-group-leaders/taesung-han-min.jpg"/>
                Taesung is excited to co-lead the single men who strive to love and know God by developing an ongoing
                relationship with God. My goal is the same as our mission statement at Lighthouse which is to develop
                disciples of Jesus Christ devoted to loving God, loving others and serving the World for him. I have
                been attending Lighthouse and Binnerri all my life and I am involved in couple of ministries which
                include: Care and Connect team, Host team, and the Finance team. Aside from serving our church I enjoy
                sports, being outdoors, traveling and learning about different cultures.
            </div>
        </div>
    </div>
</div>