---
layout: default
selected_index: 2
---

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url(../assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>Connect at Lighthouse</h1>
    </div>
</div>

<div class="portfolio-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Ministries</h2>
        </div>
        <div class="nivo-activator"></div>
        <div class="portfolio">
            <ul class="nav nav-tabs cg" role="tablist">
                <li role="presentation" class="active"><a href="#nursery" aria-controls="nursery" role="tab" data-toggle="tab">Nursery</a></li>
                <li role="presentation"><a href="#preschool" aria-controls="preschool" role="tab" data-toggle="tab">Preschool</a></li>
                <li role="presentation"><a href="#elementary" aria-controls="elementary" role="tab" data-toggle="tab">Elementary</a></li>
                <li role="presentation"><a href="#youth" aria-controls="youth" role="tab" data-toggle="tab">Youth</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="nursery">
                    <div class="row cg">
                        <div class="col-md-9">
                            <p><strong>NURSERY (0-2 YRS OLD)</strong></p>

                            <p>For those parents who would like to worship with their infants or older, we have Worship Overflow located in our Welcome Lounge.  For those who would like to drop off their children ages 0 to 2, you can drop your children off at Nursery.</p>
                            <p>We share Nursery Ministry with W2G Ministry, the Education Department of Binnerri Presbyterian Church.  Lighthouse ministry was originally birthed from Binnerri Presbyterian Church and has continued partnership with her to serve the children, youth, and their families.</p>
                            <p>
                                W2G Ministry finds its mission in helping children, from infants to high school students, grow<br/>
                                <ol>
                                    <li>With God</li>
                                    <li>With their parents</li>
                                    <li>With their church</li>
                                </ol>
                            </p>
                            <p>W2G Ministry plans to help our children and youth grow in above ways by 1) providing Christ-centered worship and learning experiences, 2) inviting the parents to assume their God-given role in their children’s spiritual growth and 3) encouraging children to serve the Kingdom as the active members of the church body.</p>
                            <p>Please note that children under the age of 18 months will be with the Nursery volunteers while children who are 18 months or older participate in worship and other activities.</p>

                        </div>
                        <div class="col-md-3 times">
                            <strong>SUNDAY SCHEDULE</strong>
                            <table class="times">
                                <tr>
                                    <td>11:30-11:40am</td>
                                    <td>Check-in</td>
                                </tr>
                                <tr>
                                    <td>11:40-11:55am</td>
                                    <td>Praise and Worship</td>
                                </tr>
                                <tr>
                                    <td>11:55-12:10pm</td>
                                    <td>Bible Study</td>
                                </tr>
                                <tr>
                                    <td>12:10-12:25pm</td>
                                    <td>Snacks</td>
                                </tr>
                                <tr>
                                    <td>12:25-12:40pm</td>
                                    <td>Games/Activities</td>
                                </tr>
                            </table>
                            <br/>
                            <p>
                                <strong>CONTACT</strong><br/>
                                Pastor Hae Young Joo
                                <a href="haeyoungjjoo@gmail.com">haeyoungjjoo@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="preschool">
                    <div class="row cg">
                        <div class="col-md-9">
                            <p><strong>LIGHTHOUSE KIDS MINISTRY (2YRS-K)</strong></p>

                            <p>
                                Lighthouse Kids Ministry is open for children from the ages of two to Kindergarten.  We are here to provide a loving, safe and quality Christian education that develops Disciples of Jesus Christ (who are):<br/>
                                <ol>
                                    <li>Loving God</li>
                                    <li>Loving Others</li>
                                    <li>Serving the World</li>
                                </ol>
                            </p>

                            <p>And how do we do this?  We praise, worship, study the Bible, and express what we have learned through arts and crafts.</p>

                            <p>Our children learn about the Bible and parents are given follow up material to reinforce what they learned on Sunday at home with memorizing the Bible verse and retelling the Bible story.</p>

                            <p>
                                <strong>CHECK-IN</strong><br/>
                                Check-In begins 15 minutes before worship service start.  If you’re visiting for the first time, you will need to fill out a registration card to receive security stickers.  The stickers serve three purposes:<br/>
                                <ol>
                                    <li>Parent Notification - If we need you during service, we can text you</li>
                                    <li>Child Pick-up – You must present your portion of the sticker before we release your child.</li>
                                    <li>Child Safety – Your children’s safety is the utmost concern for us.</li>
                                </ol>
                            </p>

                            <p>
                                <strong>CHILD WELLNESS POLICY</strong>
                                To ensure the health of all our children, if your child exhibits any of the following symptoms, the child should not attend the Lighthouse Kids Ministry for that day:<br/>
                                <ul>
                                    <li>severe pain or discomfort</li>
                                    <li>a fever of 101°F</li>
                                    <li>diarrhea or vomiting within the last 24 hours</li>
                                    <li>red eyes with discharge</li>
                                    <li>severe runny nose, sore throat, sneezing or coughing due to colds</li>
                                </ul>
                            </p>

                        </div>
                        <div class="col-md-3 times">
                            <strong>SUNDAY SCHEDULE</strong>
                            <table class="times">
                                <tr>
                                    <td>11:15-11:30am</td>
                                    <td>Check-in</td>
                                </tr>
                                <tr>
                                    <td>11:15-11:30am</td>
                                    <td>Worship Service</td>
                                </tr>
                                <tr>
                                    <td>11:15-11:30am</td>
                                    <td>Check-out</td>
                                </tr>
                            </table>
                            <br/>
                            <strong>CONTACT</strong><br/>
                            Director Kathy Hong
                            <a href="mailto:Kathy.hong@lighthousedfw.org">Kathy.hong@lighthousedfw.org</a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="elementary">
                    <div class="row cg">
                        <div class="col-md-9">
                            <p><strong>ELEMENTARY (1ST-5TH)</strong></p>

                            <p>Lighthouse Ministry shares Elementary Ministry with W2G Ministry, the Education Department of Binnerri Presbyterian Church.  Lighthouse ministry was originally birthed from Binnerri Presbyterian Church and has continued partnership with her to serve the children, youth, and their families.</p>

                            <p>
                                W2G Ministry finds its mission in helping children, from infants to high school students, grow
                                <ol>
                                    <li>With God</li>
                                    <li>With their parents</li>
                                    <li>With their church</li>
                                </ol>
                            </p>

                            <p>W2G Ministry plans to help our children and youth grow in above ways by 1) providing Christ-centered worship and learning experiences, 2) inviting the parents to assume their God-given role in their children’s spiritual growth and 3) encouraging children to serve the Kingdom as the active members of the church body.</p>
                        </div>
                        <div class="col-md-3 times">
                            <strong>SUNDAY SCHEDULE</strong>
                            <table class="times">
                                <tr>
                                    <td>11:30-12:10pm</td>
                                    <td>Worship</td>
                                </tr>
                                <tr>
                                    <td>12:10-12:45pm</td>
                                    <td>Bible Study </td>
                                </tr>
                            </table>
                            <br/>
                            <strong>CONTACT</strong><br/>
                            Pastor Amy Hwang <a href="mailto:amy4da@gmail.com">amy4da@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="youth">
                    <div class="row cg">
                        <div class="col-md-9">
                            <p><strong>YOUTH MINISTRY (MIDDLE &amp; HIGH SCHOOL)</strong></p>
                            <p>Lighthouse Ministry shares Youth Ministry with W2G Ministry, the Education Department of Binnerri Presbyterian Church.  Lighthouse ministry was originally birthed from Binnerri Presbyterian Church and has continued partnership with her to serve the children, youth, and their families.</p>

                            <p>
                                W2G Ministry finds its mission in helping children, from infants to high school students, grow
                                <ol>
                                    <li>With God</li>
                                    <li>With their parents</li>
                                    <li>With their church</li>
                                </ol>
                            </p>

                            <p>W2G Ministry plans to help our youth grow in above ways by 1) providing Christ-centered worship and learning experiences, 2) inviting the parents to assume their God-given role in their children’s spiritual growth and 3) encouraging children to serve the Kingdom as the active members of the church body.</p>

                            <p>Our youth group is made up of Middle School (6th-8th grade) and High School (9th-12th grade) students. Our motto is W2G (With We Grow). This is broken down into three parts: With God We Grow, With Parents We Grow, and With Church We Grow. We accomplish this through our weekly Bible Study on Sunday morning at 10am-11:15am (Gospel Project, Journey through the storyline of Scripture), Sunday Worship at 11:30am-12:30pm and Community Group Night called "Merge" on Friday nights from 7:30pm-9pm. A summary of the sermon and bible study is provided to parents so parents can reinforce what their children are learning at home.</p>

                        </div>
                        <div class="col-md-3 times">
                            <strong>MEETING TIMES</strong>
                            <table class="times">
                                <tr>
                                    <td>Sunday Bible Study</td>
                                    <td>10-11:15am</td>
                                </tr>
                                <tr>
                                    <td>Sunday Worship </td>
                                    <td>11:30am-12:30pm</td>
                                </tr>
                                <tr>
                                    <td>Merge on Friday</td>
                                    <td>7:30-9:05pm</td>
                                </tr>
                            </table>
                            <br/>
                            <strong>CONTACT</strong><br/>
                            Pastor Seong Su Hong <a href="mailto:seongsuhong@gmail.com">seongsuhong@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
