---
layout: default
selected_index: 2
---

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url(../assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>Connect at Lighthouse</h1>
    </div>
</div>

<div class="portfolio-wrapper">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Ministries</h2>
        </div>
        <div class="nivo-activator"></div>
        <div class="portfolio">
            <ul class="nav nav-tabs cg" role="tablist">
                <li role="presentation" class="active"><a href="#lighthouse-kids" aria-controls="nursery" role="tab" data-toggle="tab">Lighthouse Kids</a></li>
                <li role="presentation"><a href="#elementary" aria-controls="elementary" role="tab" data-toggle="tab">Elementary</a></li>
                <li role="presentation"><a href="#youth" aria-controls="youth" role="tab" data-toggle="tab">Youth</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="lighthouse-kids">
                    <div class="row cg">
                        <div class="col-md-12">
                            <p><strong>LIGHTHOUSE KIDS MINISTRY</strong></p>
                            <p>
                              We are excited for the opportunity to partner with your family, to love and disciple children from ages 1 to Kindergarten.<br>
                              <strong>Our Mission</strong> is to <strong>glorify God by helping our children to come to know and love Jesus Christ in partnership with our families.</strong><br>
                              And how do we do this? Our time together includes praise, learning the Bible, and expressing what we have learned through arts and crafts.<br>
                              In addition, you will receive a weekly email with a recap of the weekly lessons and ideas for activities at home.
                            </p>
                            
                            <p>
                              <strong>CHECK-IN</strong><br>
                              Check-in begins 15 minutes before worship service starts.
                            </p>
                            
                            <p>
                              <strong>CHANGE & NURSING STATION</strong><br>
                              We also have a nursing & change station made available. For more information, please ask our Lighthouse Kids Director or volunteers.
                            </p>
                            
                            
                            <p>
                              <strong>CHILD WELLNESS POLICY</strong><br>
                              To ensure the health of all our children, if your child exhibits any of the following symptoms, we ask that you stay with your child for that day:
                              <ul>
                                <li>Severe pain or discomfort</li>
                                <li>A fever of 101°F</li>
                                <li>Diarrhea or vomiting within the last 24 hours</li>
                                <li>Red eyes with discharge</li>
                                <li>Severe runny nose, sore throat, sneezing or coughing due to cold</li>
                              </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="elementary">
                    <div class="row cg">
                        <div class="col-md-9">
                            <p><strong>ELEMENTARY (1ST-5TH)</strong></p>

                            <p>Lighthouse Ministry shares Elementary Ministry with W2G Ministry, the Education Department of Binnerri Presbyterian Church.  Lighthouse ministry was originally birthed from Binnerri Presbyterian Church and has continued partnership with her to serve the children, youth, and their families.</p>

                            <p>
                                W2G Ministry finds its mission in helping children, from infants to high school students, grow
                            <ol>
                                <li>With God</li>
                                <li>With their parents</li>
                                <li>With their church</li>
                            </ol>
                            </p>

                            <p>W2G Ministry plans to help our children and youth grow in above ways by 1) providing Christ-centered worship and learning experiences, 2) inviting the parents to assume their God-given role in their children’s spiritual growth and 3) encouraging children to serve the Kingdom as the active members of the church body.</p>
                        </div>
                        <div class="col-md-3 times">
                            <strong>SUNDAY SCHEDULE</strong>
                            <table class="times">
                                <tr>
                                    <td>11:30-12:10pm</td>
                                    <td>Worship</td>
                                </tr>
                                <tr>
                                    <td>12:10-12:45pm</td>
                                    <td>Bible Study </td>
                                </tr>
                            </table>
                            <br/>
                            <strong>CONTACT</strong><br/>
                            Pastor Amy Hwang <a href="mailto:amy4da@gmail.com">amy4da@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="youth">
                    <div class="row cg">
                        <div class="col-md-9">
                            <p><strong>YOUTH MINISTRY (MIDDLE &amp; HIGH SCHOOL)</strong></p>
                            <p>Lighthouse Ministry shares Youth Ministry with W2G Ministry, the Education Department of Binnerri Presbyterian Church.  Lighthouse ministry was originally birthed from Binnerri Presbyterian Church and has continued partnership with her to serve the children, youth, and their families.</p>

                            <p>
                                W2G Ministry finds its mission in helping children, from infants to high school students, grow
                                <ol>
                                    <li>With God</li>
                                    <li>With their parents</li>
                                    <li>With their church</li>
                                </ol>
                            </p>

                            <p>W2G Ministry plans to help our youth grow in above ways by 1) providing Christ-centered worship and learning experiences, 2) inviting the parents to assume their God-given role in their children’s spiritual growth and 3) encouraging children to serve the Kingdom as the active members of the church body.</p>

                            <p>Our youth group is made up of Middle School (6th-8th grade) and High School (9th-12th grade) students. Our motto is W2G (With We Grow). This is broken down into three parts: With God We Grow, With Parents We Grow, and With Church We Grow. We accomplish this through our weekly Bible Study on Sunday morning at 10am-11:15am (Gospel Project, Journey through the storyline of Scripture), Sunday Worship at 11:30am-12:30pm and Community Group Night called "Merge" on Friday nights from 7:30pm-9pm. A summary of the sermon and bible study is provided to parents so parents can reinforce what their children are learning at home.</p>

                        </div>
                        <div class="col-md-3 times">
                            <strong>MEETING TIMES</strong>
                            <table class="times">
                                <tr>
                                    <td>Sunday Bible Study</td>
                                    <td>10-11:15am</td>
                                </tr>
                                <tr>
                                    <td>Sunday Worship </td>
                                    <td>11:30am-12:30pm</td>
                                </tr>
                                <tr>
                                    <td>Merge on Friday</td>
                                    <td>7:30-9:05pm</td>
                                </tr>
                            </table>
                            <br/>
                            <strong>CONTACT</strong><br/>
                            Pastor Seong Su Hong <a href="mailto:seongsuhong@gmail.com">seongsuhong@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
