---
layout: default
selected_index: 3
---

{% assign p = site.data.contentful.spaces.lighthouse.sundayBibleStudyFaq[0] %}

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url({{ p.header_image.url }})"></div>
    <div class="container">
        <h1>&nbsp;</h1>
    </div>
</div>

<div class="sermons-wrapper container page-content">
    {{ p.text | markdownify }}
</div>