---
layout: default
selected_index: 2
---

<!-- Page Heading -->
<div class="page-head bg-two">
    <div class="bg-img" style="background-image: url(../assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>Connect at Lighthouse</h1>
    </div>
</div>

<div class="skills-wrapper bg-main">
    <div class="container">
        <div class="section-title">
            <h2><span>Baptism</span> &amp; Confirmation</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>We administer baptism and confirmation as well as infant baptism following the Reformed tradition. To be baptized or confirmed as an adult, one must profess his or her faith in Jesus Chris and be able to give sufficient testimony to the basics of Christian beliefs by completing Baptism and Confirmation Prep Class.<br/><br/>If you are a believer but have not yet been baptized or confirmed, you must be baptized or confirmed, you must be baptized or confirmed before you can become a Covenant Member.</p>
            </div>
        </div>
    </div>
</div>

<div class="skills-wrapper alt-bg">
    <div class="container">
        <div class="section-title">
            <h2><span>Get</span> Started</h2>
        </div>
        <div class="row content">
            <div class="col-md-12 info-block text-center">
                <p>If you'd like to be baptized or confirmed, contact us at info@lighthousedfw.org</p>
            </div>
        </div>
    </div>
</div>