---
layout: default
---

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url({{ page.image.url }})"></div>
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="event-info">
                {{ page.description | markdownify}}
            </div>
        </div>
        <!--<div class="col-md-4">-->
            <!--<div class="questions">-->
                <!--<h4>Have a question about this event?</h4>-->
                <!--<form name="event-question" action="thank-you" netlify>-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="Name" name="name">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input type="email" class="form-control" placeholder="Email" name="email">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<textarea class="form-control" placeholder="Message" rows="5" name="message"></textarea>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-outline">Submit</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="questions">
                    <h4>Have a question about this event?</h4>
                    <form name="event-question" action="thank-you" netlify>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" rows="5" name="message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>