---
layout: default
custom_js:
    - jquery.validate.min.js
    - reg.js
---

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(../assets/img/sermons-header.jpg)"></div>
    <div class="container">
        <h1>{{page.event_title}}</h1>
    </div>
</div>


<div class="container">
    <form id="reg-form" class="reg-form" name="{{page.event_title | slugify}}" action="/registration-complete" netlify netlify-honeypot="bot-field">
        <h3>{{page.event_description}}</h2><br><br>
        <h3>Your Information</h3>
        <div class="row">
            <div class="col-md-6">
                <label>Full Name *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="full-name" required>
                </div>
            </div>
            <div class="col-md-6">
                <label>Email Address *</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Phone Number</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone">
                </div>
            </div>
            <div class="col-md-6">
                <label>Notes</label>
                <div class="form-group">
                    <textarea class="form-control" rows="4" name="notes"></textarea>
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline">Submit</button>
                </div>
            </div>
        </div>

        <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>

    </form>
</div>