--- 
layout: default 
custom_js: 
    - cloudinary.js
    - gallery.js
    - lightbox.min.js
---
<div id="galleryTag" data-tag="{{ page.gallery_tag }}"></div>

<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(../assets/img/photos-header-min.jpg); background-position: center;"></div>
    <div class="container">
        <h2>{{ page.date | date: '%B %-d, %Y' }}</h2>
        <h1>{{ page.title }}</h1>
    </div>
</div>

<div class="features-wrapper">
    <div class="container">
        {% if page.type == "Gallery" %}
        <div id="gallery" class="row">
            <div class="col-md-12">
            {% if page.description.length > 0 %}
                <p>{{ page.description }}</p>
            {% endif %}
            </div>
        </div>
        {% endif %}

        {% if page.type == "Video" %}
        <div class="videoWrapper">
            <iframe src="//www.youtube.com/embed/{{page.you_tube_id}}"
                    width="560" height="349" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="body">
            {{ page.description | markdownify }}
        </div>
        {% endif %}
    </div>
</div>