---
layout: default
---

<div class="page-head bg-two">
  <div
    class="bg-img"
    style="background-image: url({{ page.header_image.url }}?w=1920)"
  ></div>
  <div class="container">
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class="skills-wrapper bg-main">
  <div class="container page">
    <h2>{{ page.text | markdownify }}</h2>
  </div>
</div>
