---
layout: default
custom_js:
  - sermon.js
---

{% assign sermon = site.data.contentful.spaces.lighthouse.sermon %}

<div class="features-wrapper">
  <div class="audio-player" style="margin: 0 auto;">
    <img
      id="audioPlayerImage"
      class="img-responsive"
      src="{{page.image.url}}"
    />
    <audio id="player" controls="controls" src="{{page.audio.url}}"></audio>
  </div>
</div>
