---
layout: default
custom_js:
    - jquery.validate.min.js
    - reg.js
---

<!-- Page Heading -->
<div class="page-head bg-one">
    <div class="bg-img" style="background-image: url(/assets/img/connect/connect.jpg)"></div>
    <div class="container">
        <h1>{{page.title}}</h1>
    </div>
</div>


<div class="container">

    <div class="features-wrapper serve">
        
        <div class="feature-two">
            <div class="top clearfix">
                <h3>Goal of Position</h3>
            </div>
            <p>{{page.goal_of_position|markdownify}}</p>
        </div>


        <div class="feature-two">
            <div class="top clearfix">
                <h3>Person of Contact</h3>
            </div>
            <p>{{page.person_of_contact|markdownify}}</p>
        </div>


        <div class="feature-two">
            <div class="top clearfix">
                <h3>Job Description</h3>
            </div>
            <p>{{page.job_description|markdownify}}</p>
        </div>


        <div class="feature-two">
            <div class="top clearfix">
                <h3>Time Required</h3>
            </div>
            <p>{{page.time_required|markdownify}}</p>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>Length of Commitment</h3>
            </div>
            <p>{{page.length_of_commitment|markdownify}}</p>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>Training Provided</h3>
            </div>
            <p>{{page.training_provided|markdownify}}</p>
        </div>


        <div class="feature-two">
            <div class="top clearfix">
                <h3>Qualification and Special Skills</h3>
            </div>
            <p>{{page.qualifications_and_special_skills|markdownify}}</p>
        </div>

        <div class="feature-two">
            <div class="top clearfix">
                <h3>Benefits to this Position</h3>
            </div>
            <p>{{page.benefits_to_this_position|markdownify}}</p>
        </div>

        <hr>
        <div class="feature-two">
            <div class="top clearfix">
                <h3 class="text-center">Contact Us</h3>
            </div>
        </div>
        <form id="reg-form" name="serve" action="/thank-you" netlify netlify-honeypot="bot-field">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <label>Full Name *</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="full-name" required>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <label>Email Address *</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <label>Phone Number</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone">
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <label>Notes</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" name="notes"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline">Submit</button>
                    </div>
                </div>
            </div>

            <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>

        </form>
            
    </div>

</div>